<style>
  .breadcrumbs {
    margin: 0 0 2em;
    font-size: 16px;
    font-family: 'hurme';
  }

  .breadcrumbs__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .breadcrumbs__item {
    display: inline-block;
    font-size: 16px;
  }
  
  .breadcrumbs__item:not(:first-child) {
  	margin-left: 5px;
  }

  .breadcrumbs__item:not(:last-child):after {
    border-style: solid;
    border-width: .10em .10em 0 0;
    content: '';
    display: inline-block;
    height: .20em;
    margin: 0 .20em;
    position: relative;
    transform: rotate(45deg);
    vertical-align: middle;
    width: .20em;
    color: #bbb;
  }

  .breadcrumbs__link {
	font-weight: normal;
    /* font-size: 13px; */
    font-size: 12px;
    color: #bbb;
  }

  .breadcrumbs__link[aria-current="page"] {
    /* color: #064888; */
    color: #333;
    text-decoration: none;
  }

  .breadcrumbs__link[aria-current="page"]:hover,
  .breadcrumbs__link[aria-current="page"]:focus {
    text-decoration: underline;
  }
</style>

{%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
{%- assign t = template | split: '.' | first -%}

<nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
  <ol class="breadcrumbs__list">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="/">Inicio</a>
    </li>
    {%- case t -%}
      {%- when 'page' -%}
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{ page.url }}" aria-current="page">{{ page.title }}</a>
        </li>
      {%- when 'product' -%}
        {%- if collection.url -%}
    	  {%- capture tag_url -%}{{ collection.url }}/{{ current_tags | join: "+"}}{%- endcapture -%}
          <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{ tag_url }}" aria-current="page">{{ collection.title }}</a>
          </li>
    	  {% else %}
            <li class="breadcrumbs__item">
          		<a class="breadcrumbs__link" href="{{ product.url }}" aria-current="page">{{ product.title }}</a>
        	</li>
        {%- endif -%}
      {%- when 'collection' and collection.handle -%}
        {%- if current_tags -%}
          <li class="breadcrumbs__item">
             <a class="breadcrumbs__link" href="{{ collection.url }}">{{ collection.title }}</a>
          </li>
          {% for tag in current_tags %}
            <li class="breadcrumbs__item">
              {% assign handleizedTag = tag | handleize %}
              {% if forloop.index0 > 0 %}
                {% assign lastIndex = forloop.index0 | minus: 1 %}
                {%- capture tag_url -%}{{ collection.url }}/{{ current_tags[lastIndex] | append: ' ' | append: handleizedTag | downcase | url_encode }}{%- endcapture -%}
              {% else %}
                {%- capture tag_url -%}{{ collection.url }}/{{ handleizedTag | downcase | url_encode }}{%- endcapture -%}
              {% endif %}
              <a class="breadcrumbs__link" href="{{ tag_url }}" {% if forloop.last %}aria-current="page"{% endif %}>{{ tag }}</a>
            </li>
          {% endfor %}
        {%- else -%}
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="{{ collection.url }}" aria-current="page">{{ collection.title }}</a>
          </li>
        {%- endif -%}
      {%- when 'blog' -%}
        {%- if current_tags -%}
          <li class="breadcrumbs__item">
            {{ blog.title | link_to: blog.url }}
          </li>
          <li class="breadcrumbs__item">
            {%- capture tag_url -%}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{%- endcapture -%}
            <a class="breadcrumbs__link" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " > " }}</a>
          </li>
        {%- else -%}
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="{{ blog.url }}" aria-current="page">{{ blog.title }}</a>
          </li>
        {%- endif -%}
      {%- when 'article' -%}
        <li class="breadcrumbs__item">
          {{ blog.title | link_to: blog.url }}
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{ article.url }}" aria-current="page">{{ article.title }}</a>
        </li>
      {%- else -%}
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{ request.path }}" aria-current="page">{{ page_title }}</a>
        </li>
    {%- endcase -%}
  </ol>
</nav>
{%- endunless -%}