<style>
  @media (max-width: 600px) {
.grid__item.small--one-half.medium-up--one-quarter {
    padding-left: 10px;
    /* padding-right: 0px; */
}
    .boost-pfs-filter-products.grid.grid--uniform.grid--view-items {
    margin-left: -11px;
}
}
  .boost-pfs-filter-collection-description {
    display: none;
  }
  .collection-hero {
    margin-bottom: 0;
  }
  .collection-hero__title-wrapper::before {
   	background: transparent;
  }
  .collection-hero__desktop-title {
  	display: none;
  }
  .collection-hero__mobile-title {
  	margin-bottom: 15px;
  }
  .collection-template .breadcrumbs {
/*     font-size: 2rem; */
/*     margin-bottom: 0; */
	margin-bottom: 6px;
  }
  .collection_custom_title, .collection_custom_title_mobile {
    text-transform: uppercase; 
  }
  .collection_custom_title {
  	font-size: 16px;
    font-weight: 600;
  }
  .collection_custom_title_mobile {
    display: inline-block; 
    width: 70%
  }
  .collection_custom_product_count {
  	float: right;
    color: #3a3a3a;
    font-family: Quicksand,sans-serif;
    font-weight: 700;
	font-size: 12px;
    line-height: 20px;
  }
  .filters-toolbar__item.filters-toolbar__item--count {
  	display: none;
  }
  .collection-custom-title-wrapper-desktop {
  	display: none;
  }
  .collection-template .page-width {
    max-width: 100%;
  }
  @media only screen and (max-width: 750px) {
    .collection-hero__image {
    	display: none;
    }
    .collection-hero__title {
    	color: black;
      	font-size: 0.9rem;
      	font-weight: bold;
        padding-left: 10px;
      	padding-right: 10px;
        text-align: left;
    }
  	.collection-hero {
	  padding: 18px;
      margin-top: -44px;
      background: white;
      color: black;
  	}
    .collection-header .page-width, .filters-toolbar-wrapper .page-width {
    	padding-left: 10px;
        padding-right: 10px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .filters-toolbar__item-child.boost-pfs-filter-top-sorting {
      margin: auto;
      text-align: center;
    }
    .filters-toolbar__input-wrapper.select-group {
      width: 47%;
    }
    .boost-pfs-filter-top-sorting-select {
      padding-top: 0;
      padding-bottom: 0;
    }
    .collection_custom_title {
      display: none !important;
    }
  }
  .collection-header .section-header, .ndnapps-storelocator-layout-1 .section-header {
    margin-bottom: 0px;
    margin-top: -20px;
  }

  .collection-header .section-header h1, .ndnapps-storelocator-layout-1 .section-header h1 {
      font-size: 1.1rem;
      font-weight: bold;
  }
  .collection-header .section-header h1, .collection-header .section-header .h1, .ndnapps-storelocator-layout-1 .section-header h1, .ndnapps-storelocator-layout-1 .section-header .h1 {
      font-family: 'hurme';
      font-weight: 600;  
      text-align: left;
      font-size: 16px;
      color: #000;
  }
  @media screen and (min-width: 768px) {
    .collection-header .section-header, .ndnapps-storelocator-layout-1 .section-header {
        margin-bottom: 22px;
        margin-top: -35px;
    }
    .ndnapps-storelocator-layout-1 .section-header {
        margin-top: -55px;
    }
    .filters-toolbar-wrapper {
      position: relative;
      margin-bottom: 10px;
	  margin-top: 25px;
    }
    .collection-hero__desktop-title {
      display: block;
/*       position: absolute; */
      bottom: -68px;
      font-size: 16px;
      color: #111;
      font-family: 'hurme';
      font-weight: 600;
    }
    .boost-pfs-filter-collection-header.collection-hero__title.page-width, .boost-pfs-filter-collection-header {
    	display: none;
    }
    .filters-toolbar__item.filters-toolbar__item--count {
  		display: block;
  	}
    .breadcrumbs-wrapper-desktop {
      margin-top: 7px; 
      margin-bottom: 25px; 
    }
    .collection-custom-title-wrapper-desktop {
      display: block;
    }
  }
  @media only screen and (min-width: 750px) {
    .main-content {
      padding-top: 0px;
  	}
    .collection-hero {
      margin-top: 0px;
    }
  }
  @media screen and (min-width: 1411px) and (max-width: 1600px) {
    .grid__item.medium-up--one-quarter {
      width: 25%;
    }
  }
</style>

<style>
  /* START: Mostrar otras opciones de color */
  .grid__item .grid-view-item-variants-count {
  	margin-top: 10px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
    color: #969696;
  }
  .grid__item .grid-view-item-icons {
    background: white;
    position: absolute;
    bottom: -15px;
    display: none;
    margin-top: 5px;
  }
  .grid__item:hover .grid-view-item-icons {
    display: block;
  }
  .grid__item:hover .grid-view-item-variants-count {
    opacity: 0;
  }
  .grid__item .grid-view-item-icons .related-image {
    display: inline-block;
    width: auto;
    vertical-align: top;
  }
  .grid__item .grid-view-item-icons .grid-view-item__color {
    display: inline-block;
    vertical-align: top;
    height: 22px;
    width: 22px;
    margin: auto;
    border: 3px solid #cbcbcb;
    border-radius: 100%;
	margin-right: 4px;
  }
  .grid__item .grid-view-item-icons .grid-view-item__color.active {
    border-color: #939393;
/*     border-width: 3px; */
  }
 /* END: Mostrar otras opciones de color */
</style>

<style>
/* START: Burbuja de descuento adicional */
.price__badge--percent-off {
    color: #fff;
    border-color: #fa4545;
    background-color: #fa4545;
    border-radius: 100%;
    height: 43px;
    width: 48px;
    padding-top: 14px!important;
    font-size: .77rem!important;
    position: absolute;
    top: 0;
    left: 0;
}
.price__badge--percent-off {
    color: #fff;
    border-color: #fa4545;
    background-color: #fa4545;
}
.price__badge--percent-off .perc {
    position: relative;
    top: -4px;
}
.price__badge--percent-off .labl {
	font-size: .67rem!important;
    position: relative;
    top: -4px;
}
/* END: Burbuja de descuento adicional */
</style>

{% assign products_per_row = section.settings.grid | times: 1 %}

{% case products_per_row %}
  {% when 2 %}
    {%- assign max_height = 530 -%}
    {%- assign grid_item_width = 'medium-up--one-half' -%}
  {% when 3 %}
    {%- assign max_height = 345 -%}
    {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
  {% when 4 %}
    {%- assign max_height = 625 -%}
    {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
  {% when 5 %}
    {%- assign max_height = 195 -%}
    {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
{% endcase %}

{% if section.settings.layout == 'grid' %}
  {%- assign limit = section.settings.grid | times: section.settings.rows -%}
{% else %}
  {%- assign limit = 16 -%}
{% endif %}

{% paginate collection.products by limit %}

{% assign collection_image = collection.image %}

{% assign collection_custom_title = collection.title %}

{%- capture collection_tags -%}{{ current_tags | join: "+"}}{%- endcapture -%}

{% if collection_tags != blank %}
  {% assign collection_custom_title = current_tags.last %}
{% endif %}

{% assign collections_settings = section.blocks | where: "type", "collection" | map: 'settings' %}
  
{% for block in collections_settings %}
	
	{% assign block_url = block.url %}
	{% assign collection_url = collection.url %}

	{% if block.link_tag %}
        {%- capture block_url -%}{{ block.url }}/{{ block.link_tag | join: "+" | handleize }}{%- endcapture -%}
	{% endif %}

	{% if current_tags %}
        {%- capture collection_url -%}{{ collection.url }}/{{ current_tags | join: "+" | handleize }}{%- endcapture -%}
    {% endif %}

	{% assign block_url = block_url  %}
	{% assign collection_url = collection_url %}

	{% if block_url == collection_url %}
		{% assign collection_image = block.image %}
		{% if block.title != blank %}
			{% assign collection_custom_title = block.title %}
		{% endif %}
        {% if block.description != blank %}
			{% assign collection_custom_description = block.description %}
		{% endif %}
	{% endif %}
{% endfor %}
 
<div class="collection-template" data-section-id="{{ section.id }}" data-section-type="collection-template" data-test="1">
    <!-- collection_tag_key: {{ collection_tag_key }} -->
  <header class="collection-header">
    {% if section.settings.show_collection_image and collection_image %}
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset', image: collection_image %}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url('{{ collection_image | img_url: '300x300' }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ collection_image | img_url: '2048x600', crop: 'top' }});"></div>
        </noscript>
      </div>
    {% endif %}
   
	<!-- Breadcrumbs & Title Mobile -->
    <div class="page-width breadcrumbs-wrapper-desktop">
      <span class="collection-hero__desktop-title">
        {% include 'breadcrumbs' %}
      </span>
      <div class="section-header text-center">
        <h1 class="collection-hero__mobile-title boost-pfs-filter-collection-header">
          <span role="text" style="position: relative;">
            <span class="visually-hidden">{{ 'collections.general.collection_label' | t }}: </span>
            {% include 'breadcrumbs' %}
            <span class="collection_custom_title_mobile">{{ collection_custom_title }}</span>
			<span class="filters-toolbar__product-count boost-pfs-filter-total-product collection_custom_product_count">{% include 'boost-pfs-filter-skeleton', width: 2 %}</span>
          </span>
        </h1>
        {% if collection.description != blank %}
        <div class="boost-pfs-filter-collection-description rte">
          {{ collection.description }}
        </div>
        {% endif %}
      </div>
    </div>

	<!-- Breadcrumbs & Title Desktop -->
    <div class="filters-toolbar-wrapper">
      <div class="page-width">
        <div class="filters-toolbar">
          <div class="filters-toolbar__item-wrapper">
            {% if section.settings.sort_enable %}
              <div class="filters-toolbar__item-child boost-pfs-filter-top-sorting">
                {% include 'boost-pfs-filter-skeleton', width: 2 %}
              </div>
            {% endif %}
          </div>

          <div class="filters-toolbar__item filters-toolbar__item--count">
            <span class="filters-toolbar__product-count boost-pfs-filter-total-product">{% include 'boost-pfs-filter-skeleton', width: 2 %}</span>
          </div>
        </div>
      </div>
    </div>

  </header>
  <style>
  .button-collections {
    text-align: center;
/*     float: right; */
  }
  .button-collections.mobile {
    display: none;
  }
  button.filt-collection,
  a.filt-collection {
    display: none;
    margin-right: 45px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 0px;
    background: #000;
    color: #fff;
    width: 19vw;
    max-width: 300px;
  }
  @media (max-width: 767px) {
      .button-collections {
        display: none;
      }
      .button-collections.mobile {
        display: block;
        text-align: center;
        float: none;
      }
      button.filt-collection,
      a.filt-collection {
        width: auto;
        margin-bottom: 0;
        margin-right: 8px;
      }
  }
  @media (max-width: 800px) {
      button.filt-collection:last-of-type,
      a.filt-collection:last-of-type {
        margin-right: 0;
      }
  }
  </style>

<!--   <div class="button-collections mobile">
    <button class="filt-collection genre-filter-button" name="button" data-value="Hombre">Hombre</button>
    <button class="filt-collection genre-filter-button" name="button" data-value="Mujer">Mujer</button>
    <button class="filt-collection genre-filter-button" name="button" data-value="Ver Todo">Ver Todo</button>
  </div> -->
  
  <div class="page-width" id="Collection">
    <div class="boost-pfs-filter-tree-mobile-button">
      {% include 'boost-pfs-filter-skeleton', type: 'button' %}
    </div>

    <div class="boost-pfs-filter-wrapper">
      <h1 class="collection_custom_title" style="display:inline-block;margin-top:0;margin-bottom:20px;margin-left:30px;">{{ collection_custom_title }}</h1>
      <div class="boost-pfs-filter-tree boost-pfs-filter-tree-v">
        {% include 'boost-pfs-filter-skeleton', type: 'filter-tree' %}
      </div>
      
      <div class="boost-pfs-filter-right">
<!--         <div class="button-collections">
          <button class="filt-collection genre-filter-button" name="button" data-value="Hombre">Hombre</button>
          <button class="filt-collection genre-filter-button" name="button" data-value="Mujer">Mujer</button>
          <button class="filt-collection genre-filter-button" name="button" data-value="Ver Todo">Ver Todo</button>
        </div> -->
        {% if section.settings.layout == 'grid' %}
          <div class="boost-pfs-filter-products grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}" data-bc-sort="{{ collection.default_sort_by }}">
            {% for product in collection.products %}
              <div class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
                {% include 'product-card-grid', max_height: max_height %}
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="boost-pfs-filter-products" data-bc-sort="{{ collection.default_sort_by }}">
            <ul class="list-view-items">
              {% for product in collection.products %}
                <li href="{{ product.url | within: collection }}" class="list-view-item">
                  {% include 'product-card-list', product: product %}
                </li>
              {% endfor %}
            </ul>
          </div>

        {% endif %}

        <div class="boost-pfs-filter-bottom-pagination">
          {% if paginate.pages > 1 %}
            {% include 'pagination' %}
          {% endif %}
        </div>
        <div class="boost-pfs-filter-load-more"></div>
      </div>
    </div>
   
    
  </div>
  
    {% assign collection_description = collection_custom_description | default: collection.description %}
    {% assign collection_description_striped = collection_description | strip %}
    {% if collection_description != blank and collection_description_striped != '-' %}
    <div class="rte collection-description" style="padding-top: 55px; text-align: center;">
      {% include 'rich-text-thebox' id: section.id, text: collection_description %} 
    </div>
  {% endif %}
  
</div>

{% endpaginate %}

<script>
  // Declare bcSfFilterConfig variable
  var boostPFSThemeConfig = {
    label: {
      sorting: {% assign temp = 'collections.sorting.title' | t  %} {% unless temp contains 'translation missing'  %} {{ temp | json }} {% else %} "Sorting" {% endunless %},
      sorting_best_selling: {% assign temp = collection.sort_options[1].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Best Selling" {% endunless %},
      sorting_featured: {% assign temp = collection.sort_options[0].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Featured" {% endunless %},
      sorting_title_ascending: {% assign temp = collection.sort_options[2].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Alphabetically, A-Z" {% endunless %},
      sorting_title_descending: {% assign temp = collection.sort_options[3].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Alphabetically, Z-A" {% endunless %},
      sorting_price_ascending: {% assign temp = collection.sort_options[4].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Lowest Price" {% endunless %},
      sorting_price_descending: {% assign temp = collection.sort_options[5].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Highest Price" {% endunless %},
      sorting_date_ascending: {% assign temp = collection.sort_options[6].name %} {% unless temp == nil  %} {{ temp | json }} {% else %} "Date, Old to New" {% endunless %},
      sorting_date_descending: {% assign temp = collection.sort_options[7].name %} {% unless temp == nil  %} {{ temp | json }} {% else %} "Date, New to Old" {% endunless %},
      sorting_relevance: {% assign temp = 'collections.sorting.relevance' | t %} {% unless temp contains 'translation missing'  %} {{ temp | json }} {% else %} "Relevance" {% endunless %},

      sale: {{ 'products.product.on_sale' | t | json }},
      sale_price: {{ 'products.product.sale_price' | t | json }},
      sold_out: {{ 'products.product.sold_out' | t | json }},
      vendor: {{ 'products.product.vendor' | t |json }},
      regular_price: {{ 'products.product.regular_price' | t | json }},
      items_with_count_one: {{ 'collections.general.items_with_count.one' | t | json}},
      items_with_count_other: {{ 'collections.general.items_with_count.other' | t | json }},
      current_page: {{ 'general.pagination.current_page' | t | json }},
    },
    custom: {
      products_per_page: {% if limit %} {{ limit | json }} {% else %} 24 {% endif %},
      products_per_row: {% if products_per_row %} {{ products_per_row }} {% else %} 4 {% endif %},
      product_grid_class: {% if grid_item_width %} 'grid__item {{ grid_item_width }}' {% else %} 'grid__item small--one-half medium-up--one-quarter' {% endif %},
      max_height: {% if max_height %} {{ max_height | json }} {% else %} 250 {% endif %},
      vendor_enable: {% if section.settings.show_vendor %} {{ section.settings.show_vendor | json }} {% else %} false {% endif %},
      layout: {% if section.settings.layout %} {{ section.settings.layout | json }} {% else %} "grid" {% endif %}
    }
  };

  var boostPFSTemplate = {
    'soldOutClass': 'product-price--sold-out grid-view-item--sold-out',

    // Grid Template
    'vendorGridHtml': {% render 'boost-pfs-filter-html', layout: 'vendorGridHtml' %},
    'soldOutLabelGridHtml': {% render 'boost-pfs-filter-html', layout: 'soldOutLabelGridHtml' %},
    'productGridItemHtml': {% render 'boost-pfs-filter-html', layout: 'productGridItemHtml' %},
    // List Template
    'vendorSmallListHtml': {% render 'boost-pfs-filter-html', layout: 'vendorSmallListHtml' %},
    'vendorMediumListHtml': {% render 'boost-pfs-filter-html', layout: 'vendorMediumListHtml' %},
    'saleLabelListHtml': {% render 'boost-pfs-filter-html', layout: 'saleLabelListHtml' %},
    'soldOutLabelListHtml': {% render 'boost-pfs-filter-html', layout: 'soldOutLabelListHtml' %},
    'productListItemHtml':  {% render 'boost-pfs-filter-html', layout: 'productListItemHtml' %},
      
      // Pagination Template
    'previousActiveHtml': {% render 'boost-pfs-filter-html', layout: 'previousActiveHtml' %},
    'previousDisabledHtml': {% render 'boost-pfs-filter-html', layout: 'previousDisabledHtml' %},
    'nextActiveHtml': {% render 'boost-pfs-filter-html', layout: 'nextActiveHtml' %},
    'nextDisabledHtml': {% render 'boost-pfs-filter-html', layout: 'nextDisabledHtml' %},
    'paginateHtml': {% render 'boost-pfs-filter-html', layout: 'paginateHtml' %},

    // Sorting Template
    'sortingHtml': {% render 'boost-pfs-filter-html', layout: 'sortingHtml' %},
  };
</script>

<script>
 function defer(method, validation) {
    if (validation()) {
      method();
    } else {
      setTimeout(function() { defer(method, validation) }, 50);
    }
 }
</script>


<script>
  defer(function(){
    {% if current_tags %}
      $('.collection-template').on('click', '.grid-view-item__link', function(e) {
      	  e.preventDefault()

          var $el = $(this);
          var productUrl = $(this).prop('href');
          var collectionTitle = "{{ current_tags | join: " + "}}";
          var collectionTags = "{{ current_tags | join: "+" | handleize }}";

          productUrl += '?collection_tag=' + collectionTags + ',' + collectionTitle

          window.location.href = productUrl
      })
    {% endif %}
  }, function() { return window.jQuery })    
</script>

<script>
  defer(function () {
      $(document).on('mouseenter', '.grid__item .related-image, .grid__item .grid-view-item__color', function(e) {
          var $this = $(this)
          var $img = $(this).find('img')
          var imgUrl = $img.prop('src')
          var $mainImgContainer = $this.closest('.grid.product-single').length ? $this.closest('.grid.product-single') : $this.closest('.grid__item') 
          var $mainImg = $mainImgContainer.find('.grid-view-item__image-main, .zoomImg').first()
          var $siblings = $('.grid__item .grid-view-item__image, .grid__item .grid-view-item__color')
          var $price = $this.closest('.grid__item').find('.price')
          var $badgesWrapper = $this.closest('.grid__item').find('.price__badges')
          var $badgeSale = $this.closest('.grid__item').find('.price__badge--sale')
          var discount = $this.data('discount')
          if (discount > 0) {
            if (!$badgeSale.length) {
                $badgesWrapper.append('<span class="price__badge price__badge--sale" aria-hidden="true"></span>')
                $badgeSale = $badgesWrapper.find('.price__badge--sale')
            }
              $badgeSale.text('-' + discount + '%')
            $badgeSale.show()
          } else {
              $badgeSale.hide()
          }
          $mainImg.prop('srcset', imgUrl)
          $siblings.removeClass('active')
          $this.addClass('active')
      })

      $(document).on('mouseleave', '.grid__item .related-image, .grid__item .grid-view-item__color', function(e) {
          var $this = $(this)
          var $mainImgContainer = $this.closest('.grid.product-single').length ? $this.closest('.grid.product-single') : $this.closest('.grid__item') 
          var $mainImg = $mainImgContainer.find('.grid-view-item__image-main, .zoomImg').first()
          var orgSrcSet = $mainImg.data('srcset')
          var $orgIcon = $this.closest('.grid__item').find('.grid-view-item__image[data-origin="1"], .grid-view-item__color[data-origin="1"]')
          var $price = $this.closest('.grid__item').find('.price')
          var $badgesWrapper = $this.closest('.grid__item').find('.price__badges')
          var $badgeSale = $this.closest('.grid__item').find('.price__badge--sale')
          var discount = $orgIcon.data('discount')
          if (discount > 0) {
              $badgeSale.text('-' + discount + '%')
            $badgeSale.show()
          } else {
              $badgeSale.hide()
          }
          $mainImg.prop('srcset', orgSrcSet)
          $this.removeClass('active')
      })


      function modifyPathSegment(segment) {
        const url = new URL(window.location.href);
        const pathArray = url.pathname.split('/');
        const lastPathSegment = pathArray[pathArray.length - 1];
      
        if (segment === '') {
          // Remove the last path segment starting from the last '+'
          pathArray[pathArray.length - 1] = lastPathSegment.replace(/\+[^\+]*$/, '');
        } else if (lastPathSegment.includes('+')) {
          // Replace the last path segment up to the last '+'
          pathArray[pathArray.length - 1] = lastPathSegment.replace(/\+[^\+]*$/, `+${segment}`);
        } else {
          // Add a new path segment
          pathArray[pathArray.length - 1] = lastPathSegment + '+' + segment;
        }
      
        url.pathname = pathArray.join('/');
      
        const newUrl = url.toString();
      
        window.location.href = newUrl;
      }


      $(document).on('click', '.genre-filter-button', function(e) {
        let value = $(this).data('value')
        if (value === 'Ver Todo') { value = '' }
        modifyPathSegment(value)  
      }) 

      $(window).on('load', function() {
        let visibleFilters = 0;
        $('.genre-filter-button').each(function(e) {
          const value = $(this).data('value')
          const $filter = $('.boost-pfs-filter-option-value:contains('+ value +')')
          if ($filter.length || (value === 'Ver Todo' && visibleFilters)) {
              visibleFilters += 1
              $(this).show();
          }
        })
      })

   }, function () { return window.jQuery })
</script>
{% schema %}

{
  "name": {
    "da": "Kollektionssider",
    "de": "Kategorie-Seiten",
    "en": "Collection pages",
    "es": "Páginas de colección",
    "fi": "Kokoelman sivut",
    "fr": "Pages de collections",
    "hi": "कलेक्शन पेज",
    "it": "Pagine di collezioni",
    "ja": "コレクションページ",
    "ko": "컬렉션 페이지",
    "nb": "Samlingssider",
    "nl": "Collectiepagina's",
    "pt-BR": "Páginas de coleções",
    "pt-PT": "Páginas de coleções",
    "sv": "Produktseriesidor",
    "th": "หน้าคอลเลกชัน",
    "zh-CN": "产品系列页面",
    "zh-TW": "商品系列頁面"
  },
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": {
        "da": "Layout",
        "de": "Layout",
        "en": "Layout",
        "es": "Diseño",
        "fi": "Asettelu",
        "fr": "Mise en page",
        "hi": "लेआउट",
        "it": "Layout",
        "ja": "レイアウト",
        "ko": "레이아웃",
        "nb": "Oppsett",
        "nl": "Opmaak",
        "pt-BR": "Layout",
        "pt-PT": "Esquema",
        "sv": "Layout",
        "th": "เลย์เอาต์",
        "zh-CN": "布局",
        "zh-TW": "版面配置"
      },
      "default": "grid",
      "options": [
        {
          "value": "grid",
          "label": {
            "da": "Gitter",
            "de": "Raster",
            "en": "Grid",
            "es": "Cuadrícula",
            "fi": "Ruudukko",
            "fr": "Grille",
            "hi": "ग्रिड",
            "it": "Griglia",
            "ja": "グリッド",
            "ko": "그리드",
            "nb": "Rutenett",
            "nl": "Raster",
            "pt-BR": "Grade",
            "pt-PT": "Grelha",
            "sv": "Rutnät",
            "th": "กริด",
            "zh-CN": "网格",
            "zh-TW": "網格"
          }
        },
        {
          "value": "list",
          "label": {
            "da": "Liste",
            "de": "Liste",
            "en": "List",
            "es": "Lista",
            "fi": "Luettelo",
            "fr": "Liste",
            "hi": "सूची",
            "it": "Elenco",
            "ja": "リスト",
            "ko": "목록",
            "nb": "Liste",
            "nl": "Lijst",
            "pt-BR": "Lista",
            "pt-PT": "Lista",
            "sv": "Lista",
            "th": "รายการ",
            "zh-CN": "列表",
            "zh-TW": "清單"
          }
        }
      ]
    },
    {
      "type": "range",
      "id": "grid",
      "label": {
        "da": "Produkter pr. række (kun gitter)",
        "de": "Produkte per Reihe (nur Raster)",
        "en": "Products per row (grid only)",
        "es": "Productos por fila (solo cuadrícula)",
        "fi": "Tuotteita per rivi (vain ruudukko)",
        "fr": "Produits par rangée (grille uniquement)",
        "hi": "उत्पाद प्रति पंक्ति (केवल ग्रिड)",
        "it": "Prodotti per riga (solo griglia)",
        "ja": "行あたりの商品数（グリッドのみ）",
        "ko": "열 별 제품 (그리드 전용)",
        "nb": "Produkter per rad (kun rutenett)",
        "nl": "Producten per rij (alleen raster)",
        "pt-BR": "Produtos por linha (somente grade)",
        "pt-PT": "Produtos por linha (somente grelha)",
        "sv": "Produkter per rad (endast rutnät)",
        "th": "สินค้าต่อแถว (กริดเท่านั้น)",
        "zh-CN": "每行产品数（仅限网格）",
        "zh-TW": "每列產品數 (僅限網格)"
      },
      "default": 4,
      "min": 2,
      "max": 5,
      "step": 1
    },
    {
      "type": "range",
      "id": "rows",
      "label": {
        "da": "Rækker pr. side (kun gitter)",
        "de": "Reihen per Seite (nur Raster)",
        "en": "Rows per page (grid only)",
        "es": "Filas por página (solo cuadrícula)",
        "fi": "Rivejä per sivu (vain ruudukko)",
        "fr": "Rangées par page (grille uniquement)",
        "hi": "प्रति पृष्ठ पंक्तियां (केवल ग्रिड)",
        "it": "Righe per pagina (solo griglia)",
        "ja": "ページあたりの行数（グリッドのみ）",
        "ko": "페이지 별 열 (그리드 전용)",
        "nb": "Rader per side (kun rutenett)",
        "nl": "Rijen per pagina (alleen raster)",
        "pt-BR": "Linhas por página (somente grade)",
        "pt-PT": "Linhas por página (somente grelha)",
        "sv": "Rader per sida (endast rutnät)",
        "th": "แถวต่อหน้า (กริดเท่านั้น)",
        "zh-CN": "每行产品数（仅限网格）",
        "zh-TW": "每頁列數 (僅限網格)"
      },
      "default": 2,
      "min": 2,
      "max": 8,
      "step": 1
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": {
        "da": "Vis kollektionsbillede",
        "de": "Kategorie-Foto anzeigen",
        "en": "Show collection image",
        "es": "Mostrar imagen de la colección",
        "fi": "Näytä kokoelman kuva",
        "fr": "Afficher l'image de la collection",
        "hi": "कलेक्शन इमेज दिखाएं",
        "it": "Mostra immagine collezione",
        "ja": "コレクションの画像を表示する",
        "ko": "컬렉션 이미지 표시",
        "nb": "Vis samlingsbilde",
        "nl": "Collectieafbeelding weergeven",
        "pt-BR": "Exibir imagem da coleção",
        "pt-PT": "Mostrar imagem da coleção",
        "sv": "Visa produktseriebilder",
        "th": "แสดงรูปภาพคอลเลกชัน",
        "zh-CN": "显示产品系列图片",
        "zh-TW": "顯示商品系列圖片"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "da": "Vis produktleverandører",
        "de": "Produkt-Lieferanten anzeigen",
        "en": "Show product vendors",
        "es": "Mostrar proveedores del producto",
        "fi": "Näytä tuotteen myyjät",
        "fr": "Afficher les vendeurs",
        "hi": "उत्पाद विक्रेताओं को दिखाएं",
        "it": "Mostra fornitori prodotto",
        "ja": "商品の販売元を表示する",
        "ko": "제품 공급 업체 표시",
        "nb": "Vis produktleverandører",
        "nl": "Productleveranciers weergeven",
        "pt-BR": "Exibir fornecedores do produto",
        "pt-PT": "Mostrar fornecedores do produto",
        "sv": "Visa produktleverantörer",
        "th": "แสดงผู้ขายสินค้า",
        "zh-CN": "显示产品厂商",
        "zh-TW": "顯示產品廠商"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "sort_enable",
      "label": {
        "da": "Aktivér sortering",
        "de": "Sortieren erlauben",
        "en": "Enable sorting",
        "es": "Habilitar la función ordenar",
        "fi": "Ota lajittelu käyttöön",
        "fr": "Activer le tri",
        "hi": "क्रमबद्ध करना सक्षम करें",
        "it": "Permetti di ordinare",
        "ja": "並べ替えを有効にする",
        "ko": "정렬 사용",
        "nb": "Aktiver sortering",
        "nl": "Sortering inschakelen",
        "pt-BR": "Habilitar organização",
        "pt-PT": "Ativar ordenação",
        "sv": "Aktivera sortering",
        "th": "เปิดใช้งานการจัดเรียง",
        "zh-CN": "启用排序",
        "zh-TW": "啟用排序"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "tags_enable",
      "label": {
        "da": "Aktivér tagfiltrering",
        "de": "Tag-Filtern erlauben",
        "en": "Enable tag filtering",
        "es": "Habilitar filtro de etiquetas",
        "fi": "Ota tunnisteiden suodatus käyttöön",
        "fr": "Activer le filtrage par balises",
        "hi": "टैग फ़िल्टर करना सक्षम करें",
        "it": "Attiva filtro tag",
        "ja": "タグでの絞り込みを有効にする",
        "ko": "태그 필터링 사용",
        "nb": "Aktiver taggfiltrering",
        "nl": "Filteren op tags inschakelen",
        "pt-BR": "Habilitar filtragem de tags",
        "pt-PT": "Ativar filtragem por etiqueta",
        "sv": "Aktivera taggfiltrering",
        "th": "เปิดใช้การกรองแท็ก",
        "zh-CN": "启用标签筛选",
        "zh-TW": "啟用標籤篩選功能"
      },
      "default": true
    }
  ],
  "blocks": [
		{
			"type": "collection",
			"name": {
				"en": "Collection",
				"es": "Colección"
			},
			"settings": [
			  {
                "id": "image",
                "type": "image_picker",
                "label": {
                  "en": "Image",
                  "es": "Imagen"
				}		
              },
			  {
                "id": "title",
                "type": "text",
                "label": {
                  "en": "Name",
                  "es": "Nombre"
                }
			  },
              {
                "id": "description",
                "type": "richtext",
                "label": {
                  "en": "SEO TEXT",
                  "es": "Texto SEO"
                }
			  },
			  {
                "id": "url",
                "type": "url",
                "label": {
                  "en": "Link",
                  "es": "Enlace"
                }
			  },
			  {
				"id": "link_tag",
				"type": "text",
				"label": {
					"en": "Filtrar la colección con etiquetas (opcional)",
				    "es": "Filter collection with tags (optional)"
				}
			  }
			]
		}
    ]
}
{% endschema %}
