{% include 'search-drawer' %}
<style>
  {% if section.settings.logo_max_width != blank %}
    .site-header__logo-image img {
      max-width: {{ section.settings.logo_max_width | escape }}px;
    }
  {% endif %}
  {% if section.settings.align_logo == 'left' %}
    .site-header__logo-image {
      margin: 0;
      
    }
  {% endif %}
  @media only screen and (max-width: 749px) {
    .site-header__logo {
      margin-top: 1px;
      margin-bottom: 1px;
      margin: 10px 0;
      padding-left: 12px;
    }
    {% if section.settings.logo_max_width_mobile != blank %}
    .site-header__logo-image img {
      max-width: {{ section.settings.logo_max_width_mobile | escape }}px !important;
    }
    {% endif %}
  }
</style>
<style>
  .site-nav__dropdown.full-width {
    width: 100vw; 
    left: 50% !important;
    right: 50% !important;
    margin-left: -50vw;
    margin-right: -50vw;
    top: 61px !important; /* this line added to avoid overlapping header logo */ 
    text-align: center;
  }
  .site-header__mobile-nav-menu .grid__item {
      font-size: 12px;
      font-weight: bold;
      font-family: 'Quicksand';
      padding-top: 8px;
      padding-left: 12px;
  }
  .site-header__mobile-nav-menu .grid__item.top-menu {
      padding-top: 0;
/*       padding-bottom: 0; */
  }
  .site-header .grid-link-check {
  	display: inline-block;
  }
  .site-header .mobile-search-bar {
  	max-width: 98%;
    margin: auto;
    margin-bottom: 10px;
  }
  .site-header .search-bar__input {
    border-radius: 30px;
    min-height: 30px;
  }
  
  .mobile-nav-wrapper.silver  {
  	background: #F8F8FA;
  }
  .site-header .mobile-nav__item {
  	background: #FFFFFF;
  }
  .site-header .mobile-nav__item.silver {
  	border: none;
    background: #F8F8FA;
  }
  .site-header .mobile-nav__item.silver a {
	font-size: 14px;
  }

  @media only screen and (max-width: 749px) {
     #epb_message_one {
       font-size: 14.6px;
  	}
    .site-header__icon {
      padding-top: 0;
      padding-bottom: 0;
      width: 55px;
      text-align: center;
    }
    .site-header__icons .btn--link, .site-header__icons .site-header__cart {
      width: 51px;	
    }
    .site-header__icon:first-of-type {
      border-right: 1px solid #dbdbdb;
    }
  }
  @media screen and (min-width: 1300px) and (max-width: 1600px){
    .medium-up--one-half {
    width: 41%;
	}
  }
  @media screen and (min-width: 1300px) and (max-width: 1410px){
    .site-header__icons-wrapper {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    /* text-align: right; */
    margin-left: 132px;
	}
  }
  @media screen and (min-width: 1300px) and (max-width: 1600px){
    .site-header__mobile-nav-menu .grid__item {
    font-size: 12px;
    font-weight: bold;
    font-family: 'Quicksand';
    padding-top: 8px;
    padding-left: 0px;
	}
  }
  @media screen and (min-width: 1411px) and (max-width: 1600px){
  .medium-up--one-quarter {
        width: 31%;
    }
  }
  @media screen and (min-width: 1411px) and (max-width: 1600px){
      .site-header__icons-wrapper {
          position: relative;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          width: 100%;
          -ms-flex-align: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          -ms-align-items: center;
          -o-align-items: center;
          align-items: center;
          -webkit-justify-content: flex-end;
          -ms-justify-content: flex-end;
          justify-content: flex-end;
          padding-left: 84px;
      }
  }
  @media screen and (max-width: 749px) {
    .site-header__icons {
    	width: 100%;
        padding-right: 0;
    }
  }
  
</style>
<style>
  {% for block in section.blocks %}
    #SiteNav > li[data-title="{{ block.settings.menu_text }}"] > a,
    #SiteNav > li[data-title="{{ block.settings.menu_text }}"] > button span,
    .mobile-nav-wrapper > ul > li[data-title="{{ block.settings.menu_text }}"] a, 
  	.mobile-nav-wrapper > ul > li[data-title="{{ block.settings.menu_text }}"] button span {
    	color: {{ block.settings.menu_color }};
        font-weight: {{ block.settings.menu_weight }};
    }
  {% endfor %}
</style>

<div data-section-id="{{ section.id }}" data-section-type="header-section" data-header-section>

  <header class="site-header{% if section.settings.align_logo == 'left' %} border-bottom logo--left{% else %} logo--center{% endif %}" role="banner">
    
    <div class="grid grid--no-gutters grid--table site-header__mobile-nav">
      
      {% if section.settings.align_logo == 'center' %}
        {%- assign logo_classes = 'medium-up--one-third medium-up--push-one-third logo-align--center' -%}
      {% else %}
        {%- assign logo_classes = 'one-half medium-up--one-quarter logo-align--left' -%}
      {% endif %}

      <div class="grid__item {{ logo_classes }}">
        {% comment %}
          Use the uploaded logo from theme settings if enabled.
          Site name gets precedence with H1 tag on homepage, div on other pages.
        {% endcomment %}
        {% if request.page_type == 'index' %}
          <h1 class="h2 site-header__logo">
        {% else %}
          <div class="h2 site-header__logo">
        {% endif %}
          {% if section.settings.logo %}
            {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <a href="{{ routes.root_url }}" class="site-header__logo-image{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered{% endif %}">
              {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
              <img class="lazyload js"
                   src="{{ section.settings.logo | img_url: '300x300' }}"
                   data-src="{{ img_url }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ logo_alt | escape }}"
                   style="max-width: {{ section.settings.logo_max_width }}px">
              <noscript>
                {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                <img src="{{ section.settings.logo | img_url: image_size }}"
                     srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                     alt="{{ section.settings.logo.alt | default: shop.name }}"
                     style="height="70"">
              </noscript>
            </a>
          {% else %}
            <a class="site-header__logo-link" href="{{ routes.root_url }}">{{ shop.name }}</a>
          {% endif %}
        {% if request.page_type == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}
      </div>

      {% if section.settings.align_logo == 'left' %}
        <nav class="grid__item medium-up--one-half small--hide" id="AccessibleNav" role="navigation">
          {% include 'site-nav', linklist: section.settings.main_linklist, full_width: full_width_nav %}
        </nav>
      {% endif %}   
      
      
      <div class="grid__item {% if section.settings.align_logo == 'left' %}medium-up--one-quarter{% else %}medium-up--one-third medium-up--push-one-third{% endif %} text-right site-header__icons{% if shop.customer_accounts_enabled %} site-header__icons--plus{% endif %}">
        {% if linklists[section.settings.top_linklist].links != blank %}
        <div class="site-header__mobile-nav site-header__mobile-nav-menu text-left">
            <div class="grid__item top-menu medium-up--one-whole small--hide medium-up--show">
              {% for link in linklists[section.settings.top_linklist].links limit: 3 %}
                <div class="grid-link-check">
                  <a href="{{ link.url }}">
                        {{ link.title | downcase }}{% unless forloop.last == true %}&nbsp;&nbsp;|&nbsp;&nbsp;{% endunless %}
                   </a>
                 </div>
              {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="site-header__icons-wrapper">
          <!--Search Form-->
          <form class="search-form search-bar__form small--hide medium-up--show" action="{{ routes.search_url }}" method="get" role="search">
            <div class="search-form__input-wrapper">
              <input
                type="text"
                name="q"
                placeholder="{{ 'general.search.placeholder' | t }}"
                role="combobox"
                aria-autocomplete="list"
                aria-owns="predictive-search-results"
                aria-expanded="false"
                aria-label="{{ 'general.search.placeholder' | t }}"
                aria-haspopup="listbox"
                class="search-form__input search-bar__input"
                data-predictive-search-drawer-input
              />
              <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
              <div class="predictive-search-wrapper predictive-search-wrapper--drawer" data-predictive-search-mount="drawer"></div>
            </div>

            <button class="search-bar__submit search-form__submit"
              type="submit"
              data-search-form-submit>
              {% include 'icon-search' %}
              <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
            </button>
      	  </form>
          <!--End Search Form-->
		  
          <!--<button type="button" class="btn--link site-header__icon" style="margin-right: 5px">
            <a href="/account/orders" title="Seguimiento de mi pedido">
              <svg style="display none; height:45px; width:45px;" class="icon icon-tracking" id='Capa_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><style>.st0{fill:#303030}</style><path class='st0' d='M22.9 12l-3.1-4.5h-2.7l.2-1.5H6.9L5.5 16.4h1.4c.2.9 1 1.6 2 1.6s1.8-.7 2-1.6h5.4v.1c.2.9 1 1.5 1.9 1.5s1.7-.6 1.9-1.5v-.1h2.2l.6-4.4zm-1.9-.9h-2.3v-1h1.6l.7 1zM8.9 17.2c-.6 0-1-.3-1.1-.8 0-.1-.1-.3-.1-.4s0-.3.1-.4c.2-.5.6-.8 1.1-.8.5 0 .9.3 1.1.8 0 .1.1.3.1.4s0 .3-.1.4c-.1.5-.5.8-1.1.8zm2-1.6c-.2-.9-1-1.6-2-1.6s-1.8.7-2 1.6h-.5l1.2-8.8h8.8l-1.2 8.8h-4.3zm7.3 1.6c-.5 0-.9-.3-1.1-.7-.1-.2-.1-.3-.1-.5 0-.1 0-.2.1-.3.1-.5.6-.9 1.1-.9.5 0 1 .4 1.1.9 0 .1.1.2.1.3 0 .2 0 .3-.1.5-.2.4-.6.7-1.1.7zm3.3-1.6h-1.4c-.2-.9-1-1.6-1.9-1.6-1 0-1.8.7-1.9 1.6h-.2l.1-.5 1-6.8h2.2l.7 1H18v2.6h3.9l.2.3-.6 3.4zM1.1 8.1h4.8v.8H1.1zM2.8 10.7h2.8v.8H2.8zM4.1 12.9h1.1v.8H4.1z'/></svg>
              <span class="icon__fallback-text">Seguimiento de pedido</span>
            </a>
          </button>-->

          <!--<button type="button" class="btn--link site-header__icon site-header__search-toggle js-drawer-open-top">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
          </button>-->

          {% if shop.customer_accounts_enabled %}
            {% if customer %}
              <a href="{{ routes.account_url }}" class="site-header__icon site-header__account"  title="Iniciar Sesión">
                {% include 'icon-login' %}
                <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
              </a>
            {% else %}
              <a href="{{ routes.account_login_url }}" class="site-header__icon site-header__account" title="Iniciar Sesión">
                {% include 'icon-login' %}
                <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
              </a>
            {% endif %}
          {% endif %}

          <a href="{{ routes.cart_url }}" class="site-header__icon site-header__cart" title="Mi carrito">
            {% include 'icon-cart' %}
            <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
            <div id="CartCount" class="site-header__cart-count{% if cart.item_count == 0 %} hide{% endif %}" data-cart-count-bubble>
              <span data-cart-count>{{ cart.item_count }}</span>
              <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
            </div>
          </a>

          {% unless linklists[section.settings.main_linklist] == blank %}
            <button type="button" class="btn--link site-header__icon site-header__menu js-mobile-nav-toggle mobile-nav--open" aria-controls="MobileNav"  aria-expanded="false" aria-label="{{ 'layout.navigation.menu' | t }}" 
                    style="border-right: none !important;">
              {% include 'icon-hamburger' %}
              {% include 'icon-close' %}
            </button>
          {% endunless %}
        </div>

      </div>
    </div>

    <nav class="mobile-nav-wrapper silver medium-up--hide" role="navigation">
      <ul id="MobileNav" class="mobile-nav">
        {% for link in linklists[section.settings.main_linklist].links %}
          {%- assign outerLoopIndex = forloop.index -%}

          <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}" data-title="{{ link.title }}">
            {% if link.links != blank %}
              {% capture child_list_handle %}{{ link.handle }}-{{ outerLoopIndex }}{% endcapture %}
              <button type="button" class="btn--link js-toggle-submenu mobile-nav__link{% if link.child_active %} mobile-nav__link--active{% endif %}" data-target="{{ child_list_handle }}" data-level="1" aria-expanded="false">
                <span class="mobile-nav__label">{{ link.title | escape }}</span>
                <div class="mobile-nav__icon">
                  {% include 'icon-chevron-right' %}
                </div>
              </button>
              <ul class="mobile-nav__dropdown" data-parent="{{ child_list_handle }}" data-level="2">
                <li class="visually-hidden" tabindex="-1" data-menu-title="2">
                  {{- link.title }} {{ 'layout.navigation.menu' | t -}}
                </li>
                <li class="mobile-nav__item border-bottom">
                  <div class="mobile-nav__table">
                    <div class="mobile-nav__table-cell mobile-nav__return">
                      <button class="btn--link js-toggle-submenu mobile-nav__return-btn" type="button" aria-expanded="true" aria-label="{{ link.title }}">
                        {% include 'icon-chevron-left' %}
                      </button>
                    </div>
                    <span class="mobile-nav__sublist-link mobile-nav__sublist-header mobile-nav__sublist-header--main-nav-parent">
                      <a href="{{ link.url }}"><span class="mobile-nav__label">{{ link.title | escape }}</span></a>
                    </span>
                  </div>
                </li>

                {% for childlink in link.links %}
                  <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
                    {% if childlink.links != blank %}
                      {% capture grandchild_list_handle %}{{ childlink.handle }}-{{ outerLoopIndex }}-{{ forloop.index }}{% endcapture %}
                      <button type="button" class="btn--link js-toggle-submenu mobile-nav__link mobile-nav__sublist-link" data-target="{{ grandchild_list_handle }}" aria-expanded="false">
                        <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                        <div class="mobile-nav__icon">
                          {% include 'icon-chevron-right' %}
                        </div>
                      </button>
                      <ul class="mobile-nav__dropdown" data-parent="{{ grandchild_list_handle }}" data-level="3">
                        <li class="visually-hidden" tabindex="-1" data-menu-title="3">
                          {{- childlink.title }} {{ 'layout.navigation.menu' | t -}}
                        </li>
                        <li class="mobile-nav__item border-bottom">
                          <div class="mobile-nav__table">
                            <div class="mobile-nav__table-cell mobile-nav__return">
                              <button type="button" class="btn--link js-toggle-submenu mobile-nav__return-btn" data-target="{{ child_list_handle }}" aria-expanded="true" aria-label="{{ childlink.title }}">
                                {% include 'icon-chevron-left' %}
                              </button>
                            </div>
                            <a href="{{ childlink.url }}"
                              class="mobile-nav__sublist-link mobile-nav__sublist-header"
                              {% if childlink.current %} aria-current="page"{% endif %}
                            >
                              <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                            </a>
                          </div>
                        </li>
                        {% for grandchildlink in childlink.links %}
                          <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
                            <a href="{{ grandchildlink.url }}"
                              class="mobile-nav__sublist-link"
                              {% if grandchildlink.current %} aria-current="page"{% endif %}
                            >
                              <span class="mobile-nav__label">{{ grandchildlink.title | escape }}</span>
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% else %}
                      <a href="{{ childlink.url }}"
                        class="mobile-nav__sublist-link"
                        {% if childlink.current %} aria-current="page"{% endif %}
                      >
                        <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                      </a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <a href="{{ link.url }}"
                class="mobile-nav__link{% if link.active %} mobile-nav__link--active{% endif %}"
                {% if link.current %} aria-current="page"{% endif %}
              >
                <span class="mobile-nav__label">{{ link.title | escape }}</span>
              </a>
            {% endif %}
          </li>
        {% endfor %}
       	{% if linklists[section.settings.top_linklist].links != blank %}
          {% for link in linklists[section.settings.top_linklist].links limit: 3 %}
          <li class="mobile-nav__item border-top border-bottom silver" data-title="{{ link.title }}">
            <a href="{{ link.url }}"
               class="mobile-nav__link"
               >
              <span class="mobile-nav__label">{{ link.title | capitalize }}</span>
            </a>
          </li>
          {% endfor %}
        {% endif %}
      </ul>
    </nav>
    <form class="search-form mobile-search-bar search-bar__form medium-up--hide" action="{{ routes.search_url }}" method="get" role="search">
      <div class="search-form__input-wrapper">
        <input
               type="text"
               name="q"
               placeholder="{{ 'general.search.placeholder' | t }}"
               role="combobox"
               aria-autocomplete="list"
               aria-owns="predictive-search-results"
               aria-expanded="false"
               aria-label="{{ 'general.search.placeholder' | t }}"
               aria-haspopup="listbox"
               class="search-form__input search-bar__input"
               data-predictive-search-drawer-input
               />
        <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
        <div class="predictive-search-wrapper predictive-search-wrapper--drawer" data-predictive-search-mount="drawer"></div>
      </div>

      <button class="search-bar__submit search-form__submit"
              type="submit"
              data-search-form-submit>
        {% include 'icon-search' %}
        <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
      </button>
    </form>
  </header>

  {% if section.settings.align_logo == 'center' %}
  <nav class="small--hide border-bottom" id="AccessibleNav" role="navigation">
    {% include 'site-nav', linklist: section.settings.main_linklist, wrapper_class: 'site-nav--centered' %}
  </nav>
  {% endif %}
</div>

<div id='aph_bar_wrapper_182126'></div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": {{ shop.name | json }},
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
  {% endif %}
  "sameAs": [
    {{ settings.social_twitter_link | json }},
    {{ settings.social_facebook_link | json }},
    {{ settings.social_pinterest_link | json }},
    {{ settings.social_instagram_link | json }},
    {{ settings.social_tumblr_link | json }},
    {{ settings.social_snapchat_link | json }},
    {{ settings.social_youtube_link | json }},
    {{ settings.social_vimeo_link | json }}
  ],
  "url": {{ shop.url | append: page.url | json }}
}
</script>

{% if request.page_type == 'index' %}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{% endif %}

{% schema %}
{
  "name":{
    "da":"Overskrift",
    "de":"Titel",
    "en":"Header",
    "es":"Encabezado",
    "fi":"Ylätunniste",
    "fr":"En-tête",
    "hi":"हैडर",
    "it":"Header",
    "ja":"ヘッダー",
    "ko":"머리글",
    "nb":"Header",
    "nl":"Koptekst",
    "pt-BR":"Cabeçalho",
    "pt-PT":"Cabeçalho",
    "sv":"Rubrik",
    "th":"ส่วนหัว",
    "zh-CN":"标头",
    "zh-TW":"標頭"
  },
  "settings":[
    {
      "type":"checkbox",
      "id":"full_width_nav",
      "label":{
        "es":"Navegación Extendida",
        "en":"Full Width Navigation"
      }
    },
    {
      "type":"radio",
      "id":"align_logo",
      "label":{
        "da":"Logojustering",
        "de":"Logo-Ausrichtung",
        "en":"Logo alignment",
        "es":"Alineación de logotipo",
        "fi":"Logon tasaus",
        "fr":"Alignement du logo",
        "hi":"लोगो संरेखण",
        "it":"Allineamento logo",
        "ja":"ロゴアラインメント",
        "ko":"로고 정렬",
        "nb":"Logojustering",
        "nl":"Logo-uitlijning",
        "pt-BR":"Alinhamento do logotipo",
        "pt-PT":"Alinhamento do logótipo",
        "sv":"Logojustering",
        "th":"การจัดวางโลโก้",
        "zh-CN":"logo 对齐方式",
        "zh-TW":"商標對齊"
      },
      "default":"left",
      "options":[
        {
          "value":"left",
          "label":{
            "da":"Venstre",
            "de":"Links",
            "en":"Left",
            "es":"Izquierda",
            "fi":"Vasen",
            "fr":"Gauche",
            "hi":"बाएँ",
            "it":"Sinistra",
            "ja":"左",
            "ko":"왼쪽",
            "nb":"Venstre",
            "nl":"Links",
            "pt-BR":"Esquerda",
            "pt-PT":"Esquerda",
            "sv":"Vänster",
            "th":"ด้านซ้าย",
            "zh-CN":"左侧",
            "zh-TW":"左方"
          }
        },
        {
          "value":"center",
          "label":{
            "da":"Centreret",
            "de":"Mittig",
            "en":"Centered",
            "es":"Centrada",
            "fi":"Keskitetty",
            "fr":"Centré",
            "hi":"केंद्र",
            "it":"Centrato",
            "ja":"中央揃え",
            "ko":"센터 맞추기",
            "nb":"Sentrert",
            "nl":"Gecentreerd",
            "pt-BR":"Centralizado",
            "pt-PT":"Centrado",
            "sv":"Centrera",
            "th":"ตรงกลาง",
            "zh-CN":"居中",
            "zh-TW":"置中"
          }
        }
      ]
    },
    {
      "type":"image_picker",
      "id":"logo",
      "label":{
        "da":"Logobillede",
        "de":"Logo-Foto",
        "en":"Logo image",
        "es":"Logotipo",
        "fi":"Logokuva",
        "fr":"Image du logo",
        "hi":"लोगो इमेज",
        "it":"Immagine del logo",
        "ja":"ロゴ画像",
        "ko":"로고 이미지",
        "nb":"Logobilde",
        "nl":"Afbeelding van logo",
        "pt-BR":"Imagem do logotipo",
        "pt-PT":"Imagem do logótipo",
        "sv":"Logobild",
        "th":"รูปภาพโลโก้",
        "zh-CN":"logo 图片",
        "zh-TW":"標誌圖片"
      }
    },
    {
      "type":"range",
      "id":"logo_max_width",
      "label":{
        "da":"Tilpasset logobredde",
        "de":"Logobreite",
        "en":"Custom logo width",
        "es":"Ancho del logotipo personalizado",
        "fi":"Mukautetun logon leveys",
        "fr":"Largeur personnalisée du logo",
        "hi":"कस्टम लोगो की चौड़ाई",
        "it":"Larghezza logo personalizzato",
        "ja":"ロゴの幅をカスタマイズする",
        "ko":"사용자 지정 로고 폭",
        "nb":"Tilpasset logobredde",
        "nl":"Aangepaste logo-breedte",
        "pt-BR":"Largura do logotipo personalizado",
        "pt-PT":"Largura de logótipo personalizada",
        "sv":"Anpassad logotypsbredd",
        "th":"ความกว้างของโลโก้แบบกำหนดเอง",
        "zh-CN":"自定义 logo 宽度",
        "zh-TW":"自訂商標寬度"
      },
      "min":50,
      "max":250,
      "step":5,
      "unit":"px",
      "default":100
    },
    {
      "type":"range",
      "id":"logo_max_width_mobile",
      "label":{
        "da":"Tilpasset logobredde",
        "de":"Logobreite",
        "en":"Custom logo width mobile",
        "es":"Ancho del logotipo personalizado mobile",
        "fi":"Mukautetun logon leveys",
        "fr":"Largeur personnalisée du logo",
        "hi":"कस्टम लोगो की चौड़ाई",
        "it":"Larghezza logo personalizzato",
        "ja":"ロゴの幅をカスタマイズする",
        "ko":"사용자 지정 로고 폭",
        "nb":"Tilpasset logobredde",
        "nl":"Aangepaste logo-breedte",
        "pt-BR":"Largura do logotipo personalizado",
        "pt-PT":"Largura de logótipo personalizada",
        "sv":"Anpassad logotypsbredd",
        "th":"ความกว้างของโลโก้แบบกำหนดเอง",
        "zh-CN":"自定义 logo 宽度",
        "zh-TW":"自訂商標寬度"
      },
      "min":50,
      "max":250,
      "step":5,
      "unit":"px",
      "default":55
    },
    {
      "type":"link_list",
      "id":"main_linklist",
      "label":{
        "da":"Menu",
        "de":"Menü",
        "en":"Menu",
        "es":"Menú",
        "fi":"Valikko",
        "fr":"Menu",
        "hi":"मेनू",
        "it":"Menu",
        "ja":"メニュー",
        "ko":"메뉴",
        "nb":"Meny",
        "nl":"Menu",
        "pt-BR":"Menu",
        "pt-PT":"Menu",
        "sv":"Meny",
        "th":"เมนู",
        "zh-CN":"菜单",
        "zh-TW":"選單"
      },
      "default":"main-menu"
    },
    {
      "type":"link_list",
      "id":"top_linklist",
      "label":{
        "en":"Menú Superior",
        "es":"Menú Superior"
      }
    }  
  ],
	"max_blocks": 20,
    "blocks":[
      {
        "type":"menu-color",
        "name":"Menu Settings",
        "settings":[
          {
            "type":"text",
            "id":"menu_text",
            "label":"Texto del menú"
          },
          {
            "type":"color",
            "id":"menu_color",
            "label":"Color del texto",
			"default": "#000000"
          },
          {
            "type": "select",
            "id": "menu_weight",
            "label": "grosor de fuente",
            "options": [
              {
                "value": "400",
                "label": "Normal"
              },
              {
                "value": "600",
                "label": "Negrita"
              },
              {
                "value": "700",
                "label": "Extra Negrita"
              }
            ],
            "default": "600"
          }
        ]
      }
    ]
}
{% endschema %}
