<style>
  @media (max-width: 600px) {
  /*img.grid-view-item__image.lazyautosizes.ls-is-cached.lazyloaded {
    height: 180px!important;
    }
    .grid-view-item__image-wrapper {
    margin: 0 auto 0px!important;
    position: relative;
    width: 100%;
}*/
  }
  .ux-menu-container{display:none}.ux-menu-container .ux-menu-wrapper .ux-menu{background-color:#000;color:#fff;justify-content:center;border:initial}.ux-menu-container .ux-menu-wrapper .ux-menu .shopall,.ux-menu-container .ux-menu-wrapper .ux-menu a,.ux-menu-container .ux-menu-wrapper .ux-menu li{cursor:pointer;color:#fff;transition:color .3s;font-size:14px}.ux-menu-container .ux-menu-wrapper .ux-menu .shopall:hover,.ux-menu-container .ux-menu-wrapper .ux-menu a:hover,.ux-menu-container .ux-menu-wrapper .ux-menu li:hover{opacity:.33}.ux-menu-container .ux-menu-wrapper .ux-menu .logo{width:10%}.ux-menu-container .ux-menu-wrapper .ux-menu .logo img{width:100%}.ux-menu-container .ux-menu-wrapper .ux-menu .links{display:none;text-align:center}.ux-menu-container .ux-menu-wrapper .ux-menu .links li{margin:0 20px}.ux-menu-container .ux-menu-wrapper .ux-menu .shopall{display:none;text-align:right;font-size:14px}@media (min-width:1024px){.ux-menu-container{display:block}.ux-menu-container .ux-menu-wrapper .ux-menu{justify-content:space-between}.ux-menu-container .ux-menu-wrapper .ux-menu .links{display:flex}.ux-menu-container .ux-menu-wrapper .ux-menu .shopall{display:inline-flex;cursor:pointer}}.starwars{background:#000;color:#fff}.starwars a,.starwars h1,.starwars h2,.starwars h3,.starwars p{color:#fff}.starwars img,.starwars picture,.starwars video{display:block;width:100%}.starwars strong{font-family:roboto-bold,sans-serif}.starwars .description-wrapper{margin:0 auto;padding:25px 20px 40px} .description-wrapper .title {font-size: 20px!important;} .starwars .title{text-transform:uppercase;font-family:roboto-bold,sans-serif;font-weight:700;font-size:34px;line-height:2rem;letter-spacing:0;margin-bottom:1.5rem;text-align:center}.starwars .copy{text-transform:uppercase;font-size:1.4rem;margin:0;position:relative;line-height:2.5rem}.starwars .gallery .title,.starwars .products .title,.starwars .videoloop .title{margin:0 auto 20px;padding-top:20px;font-family:roboto-regular,sans-serif;line-height:initial}.starwars .gallery{padding:40px 0}.starwars #force_gallery{padding-top:0}.starwars #force_gallery .swiper-pagination-mobile{top:63px}.starwars .ux-menu-wrapper .active{color:red!important;pointer-events:none}.starwars .swiper-pagination-mobile{font-size:12px;position:absolute;right:0;top:40px;background:rgba(0,0,0,.5);padding:7px;margin:10px;border-radius:9px;z-index:2}.starwars .swiper-pagination{bottom:0}.starwars .swiper-pagination .swiper-pagination-bullet{background:#fff;opacity:.75}.starwars .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background:red}.starwars .swiper-button-prev{transform:rotate(180deg)}.starwars .swiper-button-next,.starwars .swiper-button-prev{display:none;color:#fff;background-image:url(https://ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/warhol/img/white-arrow.svg)}.starwars .swiper-button-next::after,.starwars .swiper-button-prev::after{content:""}.starwars .capsule-slide{opacity:0!important}.starwars .capsule-slide.swiper-slide-active{z-index:2;opacity:1!important}.starwars .capsule-slide section{margin:20px auto}.starwars .capsule-slide section.capsules{margin:40px auto 0}.starwars .capsule-slide .capsules .capsules-container{padding:0 20px}.starwars .capsule-slide .capsules .capsules-container .r-4ups-description-wrapper{margin:2rem 0 4rem}.starwars #shopall .banner .description-wrapper{margin-bottom:0}.starwars #shopall .r-ups{margin-top:20px}@media (min-width:1024px){.starwars .href-js{cursor:pointer}.starwars .ux-menu .logo{max-width:140px}.starwars .description-wrapper{max-width:1620px;padding:40px 60px 0;margin:0 auto}.starwars .description-wrapper .copy{font-size:16px!important;line-height:MIN(2.1vw, 40px);font-family: 'Roboto', sans-serif;font-weight: 400;}.starwars .gallery .title,.starwars .products .title,.starwars .videoloop .title{margin:0 auto 30px;padding-top:100px;font-size:MIN(2.5vw, 50px)}.starwars video{cursor:url(https://ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/starwars/img/logos/tiefighter.png),auto}.starwars .gallery{padding:60px 0}.starwars #luke_products a,.starwars #luke_products p,.starwars #xwing_products a,.starwars #xwing_products p{color:#000}.starwars #force_gallery{padding-top:0}.starwars .swiper-pagination-mobile{display:none}.starwars .swiper-pagination{bottom:25px}.starwars .swiper-button-next,.starwars .swiper-button-prev{display:block}.starwars .swiper-button-next.swiper-button-disabled,.starwars .swiper-button-prev.swiper-button-disabled{display:none}.starwars .changeCapsuleFooter{cursor:pointer}.starwars #shopall .banner{margin-bottom:40px}.starwars #shopall .r-ups{margin-top:40px}}#transition_mask{position:fixed;background:#000;z-index:3000;top:0;left:0;width:100%;height:100%;pointer-events:none;opacity:0;transition:opacity 1s ease 0s}#transition_mask video{width:100%;height:100%;object-fit:cover;object-position:center center}.starwars .banner{max-width:initial;padding:0;margin-top:0}.starwars .banner .content-wrapper{position:relative}.starwars .banner .content-wrapper .description-wrapper{text-align:center}.starwars .banner .banner-img{width:100%}.starwars .banner .mobilelogo{background:#000}.starwars .banner .mobilelogo img{width:40%;margin:0 auto;max-width:186px;padding:0;padding-top:MIN(3.6vw,20px);padding-bottom:MIN(3.6vw,20px)}.starwars .banner .mobile-menu{text-align:center;position:relative}.starwars .banner .mobile-menu .shopCapsules{font-size:19px!important;color:#ffe919!important;padding:15px;font-weight: 400;border:0;background:#000}.starwars .banner .mobile-menu .shopCapsules i{color:#fff;margin-left:10px}.starwars .banner .mobile-menu .shopCapsules:focus,.starwars .banner .mobile-menu .shopCapsules:hover{background:#000!important}.starwars .banner .mobile-menu ul{margin:0 auto;display:none;position:absolute;bottom:1px;transform:translate(-50%,100%);z-index:2;left:50%;width:75%;background:#000}.starwars .banner .mobile-menu ul li{padding:15px;margin:0 auto;color:#fff;font-size:14px}.starwars .banner .mobile-menu ul li a{color:#fff;font-size:14px}.starwars .banner .mobile-menu ul li:last-of-type{padding-bottom:30px}.starwars .banner video{background-color:#000;display:block}@media (min-width:1024px){.starwars .banner .mobile-menu{display:none}.starwars .banner .mobilelogo{display:none}.starwars .banner video{min-height:initial}}.starwars .products .product{position:relative;display:block}.starwars .products .product p{font-size: 14px!important;text-align: center;line-height: 1.2;font-family: 'Roboto-regular', sans-serif;font-weight: 400;}@keyframes loading{0%{background-position:100% 50%}100%{background-position:0 50%}}.starwars .products .product p.loading{color:transparent;background:linear-gradient(100deg,#eceff1 30%,#f6f7f8 50%,#eceff1 70%);background-size:400%;animation:loading 1.2s ease-in-out infinite}.starwars .products .product .product-img-wrapper{overflow:hidden}.starwars .products .product .product-img{width:100%}@media (hover:hover){.starwars .products .product .product-img{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1);-webkit-transition:transform .3s;-moz-transition:transform .3s;-o-transition:transform .3s;transition:transform .3s}.starwars .products .product .product-img:hover{-webkit-transform:scale(1.04);-moz-transform:scale(1.04);-o-transform:scale(1.04);-ms-transform:scale(1.04);transform:scale(1.04);-webkit-transition:transform .3s;-moz-transition:transform .3s;-o-transition:transform .3s;transition:transform .3s}}.starwars .products .product .product-name{font-family: 'Roboto-regular', sans-serif;margin-top: 20px; font-size: 14px!important;padding: 0;line-height: 19px;font-weight: 500;}.starwars .products .product .product-price{margin-top:5px}.starwars .products .product .sold-out{display:none;position:absolute;width:100%;top:0;left:0}.starwars .products.shopall{margin:0 auto}.starwars .products .mobile{padding:30px 0}.starwars .products .mobile .content-wrapper{padding:0 10px;display:flex;flex-wrap:wrap}.starwars .products .mobile .product{width:50%;padding:20px 10px;margin:0 auto}.starwars .products .mobile .sold-out{top:20px;left:10px}.starwars .products .desktop,.starwars .products .swiper{display:none}@media (min-width:1024px){.starwars .products .title{padding-top:0}.starwars .products .mobile{display:none}.starwars .products .desktop{display:block;background-image:var(--bg-image);padding:100px 0;background-size:cover}.starwars .products .desktop .content-wrapper{padding:0 50px;display:flex;flex-wrap:wrap;max-width:190rem;margin:0 auto}.starwars .products .desktop .product{width:25%;padding:20px 10px}.starwars .products .desktop .sold-out{top:20px;left:10px}.starwars .products .swiper{max-width:190rem;padding:0 60px;display:block}.starwars .products .swiper .swiper-button-next,.starwars .products .swiper .swiper-button-prev{color:#000;background-image:url(../img/products/arrow.png);background-size:contain;background-repeat:no-repeat}.starwars .products .swiper .swiper-button-prev{-webkit-transform:scaleX(-1) translateY(-50%);-moz-transform:scaleX(-1) translateY(-50%);-o-transform:scaleX(-1) translateY(-50%);-ms-transform:scaleX(-1) translateY(-50%);transform:scaleX(-1) translateY(-50%)}.starwars .products .swiper .swiper-button-next{-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-o-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}.starwars .products .swiper .swiper-button-next:after,.starwars .products .swiper .swiper-button-prev:after{content:none}}.starwars .legal .content-wrapper{padding:40px 20px;text-align:center;display:flex;flex-flow:column;justify-content:center;align-items:center}.starwars .legal img{margin:0 0 10px;width:initial}.starwars .legal p{padding:0;font-size:13px}@media (min-width:1024px){.starwars .legal .content-wrapper{padding:60px;flex-flow:row}.starwars .legal img{margin:0 10px 0 0}}.starwars .collection .unit{margin-bottom:20px}.starwars .collection .unit .text-container{display:none}.starwars .collection .unit:last-of-type{margin-bottom:0}.starwars .collection .unit .media .quote{display:none;line-height:initial;font-family:roboto-medium;font-size:MIN(4.5vw, 34px);position:absolute;bottom:0}.starwars .collection .unit .media .author{font-size:14px}@media (min-width:1024px){.starwars .collection .unit{display:flex;align-items:center;margin-bottom:5.3vw}.starwars .collection .unit .media{width:52%}.starwars .collection .unit .media .quote{display:block;transform:translateY(100%);width:37%;font-size:MIN(2.3vw, 44px);transition:transform 1s}.starwars .collection .unit .media .quote .author{font-size:18px;margin-top:2vw}.starwars .collection .unit .text-container{display:block;max-width:initial;padding:0;width:48%}.starwars .collection .unit .text-container .r-4ups-description-wrapper{max-width:initial;padding:0 0 0 4.5vw}.starwars .collection .unit:first-of-type .text-container{transform:translateY(-50%)}.starwars .collection .unit:last-of-type .text-container{transform:translateY(50%)}.starwars .collection.left .unit:nth-child(2){flex-flow:row-reverse}.starwars .collection.left .unit .media .quote{padding:3vw 0 0 7vw;width:45%;transform:translate(110%,100%)}.starwars .collection.left .unit .media .quote.inview{transform:translate(0,100%)}.starwars .collection.right .unit:nth-child(odd){flex-flow:row-reverse}.starwars .collection.right .unit .r-4ups-description-wrapper{width:65%;padding:0 4.5vw 0 0;float:right}.starwars .collection.right .unit .r-4ups-description-wrapper p{width:initial}.starwars .collection.right .unit .media .quote{padding:3vw 0 0 2vw;transform:translate(-110%,100%)}.starwars .collection.right .unit .media .quote.inview{transform:translate(0,100%)}.starwars .collection.overlap{position:relative}.starwars .collection.overlap .unit:nth-child(2){position:absolute;margin-bottom:0;top:50%;width:calc(100% - 120px);transform:translateY(-50%)}.starwars .collection.overlap.left .unit:nth-child(2){right:60px}.starwars .collection.reverse .unit:nth-child(odd){position:relative;z-index:1}}@media (min-width:1366px){.starwars .collection .unit .text-container p{width:65%}}#top-header{z-index:4}body{min-width:0}.category-landing-main{top:0}#mini-site-category-landing .mini-site-slot{margin-top:0}.magento .page{width:auto;padding:0}.magento .page .layout.layout-1col{margin:0}.magento .page .breadcrumbs-container{display:none}.magento .page .page-title.category-title{display:none}.magento .page div[role=main]{padding:0}@media (max-width: 600px) {.starwars .copy {text-transform: uppercase;font-size: 13px!important;font-weight: 400;margin: 0;position: relative;line-height: 25px!important;}.starwars .title {font-size: 19px!important;}}.swiper-slide {flex-shrink: 0;width: 100%!important;height: 100%;position: relative;transition-property: transform;}
  .products-carousel-tbx-v2_landing-starwars-section .owl-carousel {
      background-color: #000000!important;
  }
  .grid-view-item__title{
  color: #ffffff;
  }
  .price-item {
      color: #ffffff;
      font-weight: 700;
  }
</style>
  
  <style>
    .product .discount {
      display: none;
      text-decoration: line-through;
    }
    .product.discounted .discount {
      display: block;
    }
    @media (max-width: 600px){
    .main-content {
      padding-top: 0px;
  }
    }
    .main-content {
      display: block;
      padding-top: 0px;
  }
    .r-breadcrumbs-wrapper {
      display: none;
  }
    .site-footer {
      margin-top: 0px;
      padding: 45px 0 55px;
  }
  
  body, input, textarea, button, select, .disclosure__toggle {
      font-size: 14px;
      font-family: Roboto,sans-serif!Important;
      font-style: normal;
      font-weight: 700;
      color: #3a3a3a;
      line-height: 1.5;
  }

  .products-carousel-tbx-v2_landing-starwars-section .owl-nav.disabled  {
    display: block !important;
  }

  .products-carousel-tbx-v2_landing-starwars-section .owl-carousel .owl-nav svg path {
      fill: #ebebeb;
  }

  .products-carousel-tbx-v2_landing-starwars-section .owl-carousel .owl-nav .owl-prev {
    top: 25%;
    left: 0px;
  }

  .products-carousel-tbx-v2_landing-starwars-section .owl-carousel .owl-nav .owl-next {
    top: 25%;
    right: -18px;
  }

  @media (min-width: 768px) {
    .products-carousel-tbx-v2_landing-starwars-section .owl-carousel {
      padding-top: 55px !important;
    }

    .products-carousel-tbx-v2_landing-starwars-section .owl-carousel .owl-nav .owl-prev {
      top: 30%;
      left: 45px;
    }

    .products-carousel-tbx-v2_landing-starwars-section .owl-carousel .owl-nav .owl-next {
      top: 30%;
      right: 35px;
    }
  }
  </style>
  
  <script>
   function defer(method, validation) {
      if (validation()) {
        method();
      } else {
        setTimeout(function() { defer(method, validation) }, 50);
      }
   }
  </script>
  
  <script>
      defer(function(){
          var os = document.createElement('script');
          os.id = 'script_swiper_bundle_min_js'
          os.type = 'text/javascript'
          os.src = 'https://unpkg.com/swiper/swiper-bundle.min.js'
          os.defer = true
          os.async = true
          $("head").append(os);
  
          var os2 = document.createElement('script');
          os2.id = 'global_head'
          os2.type = 'text/javascript'
          os2.src = 'https://www.dcshoes.es/on/demandware.static/Sites-DC-ES-Site/-/es_ES/v1658918053124/js/global_head.js'
          os2.defer = true
          os2.async = true
          $("head").append(os2);
  
      }, function() { return window.jQuery })
  </script>

  <script>
  defer(function(){
  var totalScroll=0,ux=function(o){function i(t){for(var i=dw_ocapi.eshop_data,o=0;o<t.length;o++){var e=i[t[o]],n={};void 0!==e&&(n.name=e.name,n.price=e.display_price,n.orderables=e.orderables),a[t[o]]=n}d(),s.length&&r()}var t="",a={},s=[],r=function(){var t=s.splice(0,4);dw_ocapi.single_product(t.toString(),o.proxy(i,this,t))},e=function(){"SFCC"===t&&(o(".product.quick-shop").click(function(t){t.preventDefault(),dw_eshop_popin.open({hide_color_selector:!1,pid:o(this).data("product-id")})}),o(".product.pdp").each(function(){o(this).attr("href","/"+o(this).data("product-id")+".html")}))},d=function(){o("[data-product-id]").each(function(){var t=a[o(this).data("product-id")];void 0!==t&&(o(this).find(".product-name").text(t.name),o(this).find(".product-price").html(t.price),void 0!==t.orderables&&0===t.orderables.length&&(o(this).find(".sold-out").show(),o(this).find(".product-price").hide())),o(this).find("p").removeClass("loading")})};return{init:function(){"undefined"==typeof app?(t="MAGENTO",o("body").addClass("magento")):t="SFCC";"SFCC"===t&&(o(".products .product p").addClass("loading"),o("[data-product-id]").each(function(){productId=o(this).data("product-id"),-1===s.indexOf(productId)&&s.push(productId)}),s.length&&r());e(),o(".starwars video").each(function(){o(window).width()<=768?o(this).attr("src",o(this).attr("data-src-mobile")):o(this).attr("src",o(this).attr("data-src-desktop"))}),o(".starwars .gallery").each(function(){var t=o(this).find(".swiper-slide").length,i=(o(this).find(".swiper-pagination-mobile").html("1/"+t),new Swiper(this,{loop:!1,autoplay:!1,slidesPerView:1,pagination:{el:".swiper-pagination"},navigation:{nextEl:".swiper-button-next",prevEl:".swiper-button-prev"},on:{slideChange:()=>{o(this).find(".swiper-pagination-mobile").html(i.realIndex+1+"/"+t)}}}))})},productsInfo:a,return:s}}(jQuery);function gotoCapsule(o){var t=this,i=Promise.resolve();t.resuming||(i=this.transitionVideoStart()),window.setTimeout(function(){var t,i=$(".starwars .ux-menu-wrapper").height();totalScroll=1023<$(window).width()?$(o).offset().top>totalScroll?$(o).offset().top-i+70:(t=$(".r-bh-content--fixed").height(),$(o).offset().top-i+70-t):$(o).offset().top,$(document).scrollTop(totalScroll)},1e3),i.then(function(){t.transitionVideoEnd()})}function transitionVideoStart(){return new Promise(function(t,i){$("#top-header").css("opacity","0"),$("#transition_mask video").get(0).play(),$("#transition_mask").css("opacity","1"),window.setTimeout(t,3e3)})}function transitionVideoEnd(){return new Promise(function(t,i){$("#top-header").css("opacity","1"),$("#transition_mask video").get(0).pause(),$("#transition_mask video").get(0).currentTime=0,$("#transition_mask video").get(0).load(),$("#transition_mask").css("opacity","0"),window.setTimeout(t,300)})}jQuery(document).ready(function(){uxMenu.init(),ux.init(),$(".starwars .banner video").get(0).play()}),$(".starwars .changeCapsule a").click(function(t){t.preventDefault(),gotoCapsule($(this).attr("href"))}),$(".starwars .changeCapsuleMobile a").click(function(t){t.preventDefault(),gotoCapsule($(this).attr("href"))}),$(".starwars .shopCapsules").click(function(){$(this).find(".fa").hasClass("fa-chevron-down")?($(this).find(".fa").removeClass("fa-chevron-down"),$(this).find(".fa").addClass("fa-chevron-up")):($(this).find(".fa").removeClass("fa-chevron-up"),$(this).find(".fa").addClass("fa-chevron-down")),$(this).next().slideToggle(200)}),$(".starwars .changeCapsuleMobile a").click(function(){$(".starwars .shopCapsules").find(".fa").removeClass("fa-chevron-up"),$(".starwars .shopCapsules").find(".fa").addClass("fa-chevron-down"),$(".starwars .mobile-menu .links").slideToggle(200)}),$.fn.is_on_screen=function(){var t=$(window),i={top:t.scrollTop(),left:t.scrollLeft()},t=(i.right=i.left+t.width(),i.bottom=i.top+t.height(),this.offset());return t.right=t.left+this.outerWidth(),t.bottom=t.top+this.outerHeight(),!(i.right<t.left||i.left>t.right||i.bottom<t.top||i.top>t.bottom)},$(window).scroll(function(){$(window).width()<=1023&&0<$(".starwars video").length&&$(".starwars video").each(function(){$(this).is_on_screen()?$(this).get(0).play():$(this).get(0).pause()})}),$(".starwars .videoloop video").hover(function(){1023<$(window).width()&&$(this).get(0).play()},function(){1023<$(window).width()&&$(this).get(0).pause()});
 $('.changeCapsule, .changeCapsuleMobile').on('click', function(e) {
    e.preventDefault()
    
    var $el = $(e.target)
    var $parent = $el.closest('li')
    var id = $el.attr('href')
    
    var offSet = $parent.is('.changeCapsuleMobile') ? 170 : 80;
    var obj = $(id);

    console.log($el, $parent, offSet, id, obj)
   
    if (obj.length){
      var offs = obj.offset();
      var targetOffset = offs.top - offSet;
      $('html,body').animate({ scrollTop: targetOffset }, 1000);
    }
})
  }, function() { return window.jQuery })
  </script>
  
  <script>
  defer(function(){
    function catalogImageResizer() {
  
        $('.products').each(function(index) {
            const $productList = $(this)
            const $products = $productList.find('.desktop .product')
          
            let longestHeightTitle = 0
            let biggestImage = 0
        
            $products.each(function() {
                const $item = $(this) 
                const $title = $item.find('.product-name')
                const $image = $item.find('.product-img-wrapper img')
              
                //Retrieve the biggest image
                if ($title.height() > longestHeightTitle) {
                    longestHeightTitle = $title.height()
                }
                
                //Retrieve the biggest image
                if ($image.height() > biggestImage) {
                    biggestImage = $image.height()
                }      
            })
  
            if (!longestHeightTitle || !biggestImage) {
              return true
            }
          
            $products.find('.product-name').css({
                height: longestHeightTitle,
                display: 'block',
                borderBottomColor: 'transparent',
            })
            $products.find('.product-img-wrapper').css({
                height: biggestImage,
                maxHeight: 'initial',
                paddingTop: '0px'
            })
            $products.find('.product-img-wrapper div').css({
                height: biggestImage,
                paddingTop: '0px'
            })
            $products.find('.product-img-wrapper img').css({
                height: biggestImage,
                objectFit: 'fill'
            })
        
        })
  
        $("<style type='text/css'> .product:hover .product-name {text-decoration: underline;} </style>").appendTo("head")
    }
  
    $(window).on('load', function() { catalogImageResizer() })
  
    //$(window).on('resize', catalogImageResizer)
  
  }, function() { return window.jQuery })
  </script>
  
  <div id="content-container" class="content-container"><div class="mobile-overlay"></div>
  <div id="container">
  <div id="main" class="jsSearchUpdate">
  <div id="mini-site-category-landing" class="mixnmatchcontent js-search-replace-content">
  <div class="category-landing-main">
  <div class="slot-item slot-item-category-landing-main" data-sid="category-landing-main">
  <div class="contentasset addimgalt contentasset-star-wars-ux" data-cid="star-wars-ux" data-content-title="star-wars-ux">
  
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  
  <link rel="stylesheet" href="https://ssl.quiksilver.com/static/DC/default/category-assets/modules/ux-menu/css/ux-menu.min.css">
  
  <link rel="stylesheet" href="https://ssl.quiksilver.com/static/DC/default/category-assets/experiences/eshop_popin/css/eshop_popin.min.css">
  <link rel="stylesheet" href="//ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/starwars/css/style.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  <div id="transition_mask">
  <video src="//ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/starwars/img/videos/desktop/01-HERO-BANNER.mp4" muted="" playsinline="" loop=""></video>
  </div>
  
  
  <div class="ux-menu-container starwars">
  
  <div class="ux-menu-wrapper">
  <div class="ux-menu">
  <div class="logo">
  <a href="#top-header"><img src="//ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/starwars/img/logos/STAR-WARS-LOGO.png" alt="Star Wars™ | DC Shoes"></a>
  </div>
  <ul class="links" >
  <li class="changeCapsule" data-index="0" data-target="vader_video">
  <a href="#vader_video">DARTH VADER™ <i class="fa fa-chevron-down"></i></a>
  </li>
  <li class="changeCapsule" data-index="1" data-target="stormtrooper_video">
  <a href="#stormtrooper_video">STORMTROOPER <i class="fa fa-chevron-down"></i></a>
  </li>
  <li class="changeCapsule" data-index="2" data-target="bobafett_video">
  <a href="#bobafett_video">BOBA FETT™ <i class="fa fa-chevron-down"></i></a>
  </li>
  <li class="changeCapsule" data-index="3" data-target="luke_video">
  <a href="#luke_video">LUKE SKYWALKER™ <i class="fa fa-chevron-down"></i></a>
  </li>
  <li class="changeCapsule" data-index="4" data-target="xwing_video">
  <a href="#xwing_video">X-WING <i class="fa fa-chevron-down"></i></a>
  </li>
  <li class="changeCapsule" data-index="5" data-target="force_gallery">
  <a href="#force_gallery">THE FORCE ESSENTIALS <i class="fa fa-chevron-down"></i></a>
  </li>
  </ul>
  <div class="shopall changeCapsule" data-index="6" data-target="shopall"><a href="#shopall">DESCUBRE TODA LA COLECCIÓN <i class="fa fa-chevron-down"></i></a></div>
  </div>
  </div>
  </div>
  
  <div class="ux-wrapper starwars">
  <section class="banner" id="intro">
  <article class="content-wrapper">
  <video width="100%" height="100%" data-src-desktop="https://cdn.shopify.com/videos/c/o/v/ca824a6e06a94c31989330bfe77920a9.mp4" data-src-mobile="https://cdn.shopify.com/videos/c/o/v/6760b2bd89c24872b7badd0af958f39e.mp4" playsinline="" muted="" loop="" preload="auto" src="https://cdn.shopify.com/videos/c/o/v/ca824a6e06a94c31989330bfe77920a9.mp4" autoplay>
  </video>
  <div class="description-wrapper">
  <!--<h1 class="title">Star Wars™ | DC Shoes</h1>-->
  <p class="copy">DC UNE FUERZAS CON STAR WARS EN UNA NUEVA COLABORACIÓN ÉPICA CENTRADA EN LA TRILOGÍA ORIGINAL.<br><b>ENCUENTRA LA COLECCIÓN STAR WARS | DC EN CINCO CÁPSULAS ÚNICAS</b></p>
  </div>
  <div class="mobile-menu">
  <div class="shopCapsules">COMPRAR POR COLECCIÓN<i class="fa fa-chevron-down"></i></div>
  <ul class="links" >
  <li class="changeCapsuleMobile" data-index="0" data-target="vader_video">
  <a href="#vader_video">DARTH VADER™</a>
  </li>
  <li class="changeCapsuleMobile" data-index="1" data-target="stormtrooper_video">
  <a href="#stormtrooper_video">STORMTROOPER</a>
  </li>
  <li class="changeCapsuleMobile" data-index="2" data-target="bobafett_video">
  <a href="#bobafett_video">BOBA FETT™</a>
  </li>
  <li class="changeCapsuleMobile" data-index="3" data-target="luke_video">
  <a href="#luke_video">LUKE SKYWALKER™</a>
  </li>
  <li class="changeCapsuleMobile" data-index="4" data-target="xwing_video">
  <a href="#xwing_video">X-WING</a>
  </li>
  <li class="changeCapsuleMobile" data-index="5" data-target="force_gallery">
  <a href="#force_gallery">THE FORCE ESSENTIALS ▼</a>
  </li>
  <li class=" shopall changeCapsuleMobile" data-index="6" data-target="shopall"><a href="#shopall">DESCUBRE TODA LA COLECCIÓN ▼</a></li>
  </ul>
  </div>
  </article>
  </section>
  <section class="videoloop" id="vader_video">
  <h2 class="title">DARTH VADER™</h2>
  <article>
  <video width="100%" height="100%" data-src-desktop="https://cdn.shopify.com/videos/c/o/v/c19956b8b12042259d26c011a5c9462a.mp4" playsinline="" muted="" loop="" preload="auto" src="https://cdn.shopify.com/videos/c/o/v/c19956b8b12042259d26c011a5c9462a.mp4" autoplay>
  </video>
  </article>
  </section>
  <section class="products vader_products" id="vader_products">
  <div class="desktop" style="--bg-image: url('//ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/starwars/img/products/vader/PRODUCT-BACKGROUND-BANNER.jpg'); display: block !important;">
  <!--INICIO SLIDER-->
  
  {% capture component_class %}products-carousel-tbx-v2_{{section.id}}{% endcapture %} 
  
  <style>
    .{{ component_class }} {
      font-family: roboto-bold,Arial,sans-serif;
      margin: auto;
    max-width: 100%;
      {% if section.settings.width == blank or section.settings.full_width %}
        width: 100%;
      {% else %}
          width: {{ section.settings.width }};
      {% endif %}
      {% if section.settings.custom_top_spacing_mobile != blank %}
        margin-top: {{ section.settings.custom_top_spacing_mobile }};
      {% endif %}
      {% if section.settings.custom_bottom_spacing != blank %}
        margin-bottom: {{ section.settings.custom_bottom_spacing_mobile }};
      {% endif %}
    }
    .{{ component_class }} .bg-panel {
      padding: 0px;
      background: {{ section.settings.panel_bg_color }};
      margin-bottom: 15px;
      text-align: center;
    }
    .{{ component_class }} .main-title {
      color: #000;
      font-family: roboto-bold,Arial,sans-serif;
      font-size: 28px;
    font-weight: 700;
      line-height: 20px;
      letter-spacing: 0;
      text-align: center;
      margin-bottom: 15px;
    }
    .{{ component_class }} .see-more-button {
      margin: auto;
      text-align: center;
    max-width: 100%;
      width: 280px;
    display: inline-block;
    }
    .{{ component_class }} .carousel-wrapper {
      {% if section.settings.carousel_width == blank %}
        width: 100%;
      {% else %}
          width: {{ section.settings.carousel_width }};
      {% endif %}
    max-width: 87%;
      margin: auto;
    }
    .{{ component_class }} .owl-carousel{
  /*     display: block !important; */
      {% if section.settings.carousel_padding %}
      padding: {{ section.settings.carousel_padding }};
      {% endif %}
      background-color: {{ section.settings.carousel_bg_color }};
    }
    .{{ component_class }} .owl-carousel .owl-prev {
      width: 33px;
      height: 100px;
      position: absolute;
      top: 25%;
      left: -33px;
      margin-left: -20px;
      display: block !important;
      border:0px solid black;
    }
    .{{ component_class }} .owl-carousel .owl-next {
        width: 33px;
        height: 100px;
        position: absolute;
        top: 25%;
        right: -54px;
        display: block !important;
        border:0px solid black;
        transform: scaleX(-1);
    }
    .{{ component_class }} .owl-carousel .owl-prev i,
    .{{ component_class }} .owl-carousel .owl-next i {
      transform : scale(1,6); color: #ccc;
    }
    .{{ component_class }} .single-logo {
    display: inline-block;
      max-width: 100%;
      margin-right: {{ section.settings.block_spacing }}px;
      width: {{ 100 | divided_by: section.settings.blocks_shown_mobile }}%;
    }
    .{{ component_class }} .single-logo img {
      {% if section.settings.block_width == blank %}
        width: 100%;
      {% else %}
          width: {{ section.settings.block_width }};
      {% endif %}
    }
    .{{ component_class }} .owl-item .single-logo {
      width: auto;
      margin-right: initial;
    }
    .{{ component_class }} .product-card {
      margin-bottom: 20px;
      max-width: 100%;
      width: 190px;
    }
  
    @media only screen and (max-width: 767px) {
      {% if section.settings.preview_of_next_item %}
      .{{ component_class }} .owl-stage {
          padding-left: 0px !important;
      }
      {% endif %}
      .{{ component_class }} .owl-carousel .single-logo {
        width: 29%;
        margin-left: 0.5rem;
          margin-right: 0;
        margin-bottom: 0.4rem;
      }
    }
  
    @media screen and (min-width: 768px) {
      .{{ component_class }} {
        {% if section.settings.custom_top_spacing != blank %}
        margin-top: {{ section.settings.custom_top_spacing }};
        {% endif %}
         {% if section.settings.custom_bottom_spacing != blank %}
            margin-bottom: {{ section.settings.custom_bottom_spacing }};
        {% endif %}
      }
      .{{ component_class }} .main-title-wrapper {
        margin-bottom: 40px;
      }
      .{{ component_class }} .owl-carousel {
          white-space: nowrap;
        overflow: hidden;
      }
      .{{ component_class }} .owl-carousel.owl-loaded {
          white-space: initial;
        overflow: initial;
      }
      .{{ component_class }} .single-logo {
         width: {{ 100 | divided_by: section.settings.blocks_shown }}%;
      }
      .{{ component_class }} .owl-carousel .owl-item .single-logo {
        width: auto;
      }
    }
  </style>
  
  {% if section.settings.custom_css != blank %}
  {% assign component_selector = component_class | prepend: '.' %} 
  <style>
    {{ section.settings.custom_css | replace: '$component_class', component_selector }}
  </style>
  {% endif %}
  
  
  {%- assign collection = collections[section.settings.collection] -%}
  
  {%- assign product_limit = section.settings.blocks_shown | times: 2 -%}
  
  <div class="{{ component_class }} {% if section.settings.slider_mode %} slider-enabled{% endif %}" data-blocks-size="{{ section.blocks.size }}">
    {% if section.settings.show_more_button != blank %}
      <div class="bg-panel">
      {% if section.settings.title != blank %}<h2 class="main-title">{{ section.settings.title }}</h2>{% endif %}
      {% if section.settings.show_more_button_image %}
        <{% if section.settings.show_more_button_link != blank %}a{% else %}div{% endif %} class="see-more-button" {% if section.settings.show_more_button_link != blank %} href="{{ section.settings.show_more_button_link  }}"{% endif %}>
          <img class="main-image" src="{{ section.settings.show_more_button_image | img_url: 'master' }}" width="240" height="40">
        </{% if section.settings.show_more_button_link != blank %}a{% else %}div{% endif %}>
      {% endif %}
      </div>
    {% elsif section.settings.title != blank %}
      <div class="main-title-wrapper">
        <h2 class="main-title">{{ section.settings.title }}</h2>
      </div>
    {% endif %}
    
    <div class="carousel-wrapper">
      <div class="section-padding owl-carousel">
      {% for product in collections[section.settings.VADER.handle].products limit: 4 %}
        <div class="grid-view-item product-card">
          <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{% if collections[section.settings.Slider.handle].products == empty %}#{% else %}{{ product.url }}{% endif %}">
            <span class="visually-hidden">{{ product.title }}</span>
          </a>
          <div class="grid-view-item__image-wrapper gviiw-c-thebox">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {%- assign preview_image = product.featured_media.preview_image -%}
            {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img id="{{ img_id }}"
                 class="grid-view-item__image lazyload"
                 alt="{{ preview_image.alt }}"
                 data-src="{{ img_url }}"
                 data-widths="[200]"
                 data-aspectratio="{{ preview_image.aspect_ratio }}"
                 data-sizes="auto"
                 data-image>
          </div>
          {% comment %}
          {% assign colors_size = product.options_by_name['Color'].values | size %}
          <div class="product-attr">{{ colors_size }} Color {%- if colors_size > 1 -%} (es) {%- endif -%}</div>
          {% endcomment %}
          <div class="h4 grid-view-item__title" aria-hidden="true">{{ product.title }}</div>
          {% include 'product-price-listing', product: product, show_vendor: false %}
        </div>
      {% endfor %}
    </div>
    </div>
  </div>
  
  
  <script>
    defer(function(){
        function toggleCarousel() {
            {% capture arrow %}{%- include 'icon-chevron-left-alt' -%}{% endcapture %}
            var $carousels = $('.{{ component_class }} .owl-carousel')

            $carousels.each(function(i,item) {
                var $carousel = $(item).owlCarousel({
                stagePadding: 0,
                loop: true,
                margin: parseInt('{{ section.settings.block_spacing }}'),
                nav: true, // if there are no more items to show it will hide regardless
                dots: {{ section.settings.show_dots }},
                navText : ['{{ arrow | strip }}', '{{ arrow | strip }}'],
                autoplay: {{ section.settings.autoplay }}, 
                autoplayTimeout: {{ 1000 | times: section.settings.autoplay_timeout }},
                autoplayHoverPause: true,
                {% if section.settings.preview_of_next_item %}
                stagePadding: 40,
                {% endif %}
                responsive:{
                    0:{
                        items: {{ section.settings.blocks_shown_mobile }},
                    },
                    600:{
                        items: 2,
                    },
                    768:{
                        items: 3,
                    },
                800:{
                        items: 4,
                    },
                    1200: {
                            items: 5,
                    },
                    1500: {
                            items: {{ section.settings.blocks_shown }},
                    },
                },
                onInitialized: function(event) {
                    var longestHeightTitle = 78;
                    var biggestImage = 226
                    //Reduce font-size based on lines
                
                    //Retrieve the biggest title
                    $(".{{ component_class }} .grid-view-item .grid-view-item__title").each(function(index){
                        if($(this).height() > longestHeightTitle){
                        longestHeightTitle = $(this).height()      
                        }
                    })
                    //Retrieve the biggest image
                    $(".{{ component_class }} .grid-view-item .grid-view-item__image-wrapper").each(function(index){
                            if($(this).height() > biggestImage){
                            biggestImage = $(this).height();      
                        }
                    })
                    //Set equal height
                    $(".{{ component_class }} .grid-view-item .grid-view-item__title").css({
                    height: longestHeightTitle,
                    display: 'block'
                    }) 
                    $(".{{ component_class }} .grid-view-item .grid-view-item__image-wrapper").css({
                    height: biggestImage,
                    maxHeight: 'initial',
                    paddingTop: '0px'
                    }) 
                    $(".{{ component_class }} .grid-view-item .grid-view-item__image-wrapper div").css({
                    height: biggestImage,
                    paddingTop: '0px'
                    }) 
                    $(".{{ component_class }} .grid-view-item .grid-view-item__image-wrapper img").css({
                    height: biggestImage,
                    // objectFit: 'contain'
                    })
                } 
                })
                $carousel.find('.owl-nav').removeClass('disabled')
            })
        }

        toggleCarousel();
    
        $(document).on('shopify:section:load', function(){
            toggleCarousel();
        });
        
        $(window).on('resize', function() {
            toggleCarousel();
        });
    
    }, function() {
      return window.jQuery && $() && $().owlCarousel
    })
  </script>

  {% if section.settings.custom_js != blank %}
    <script>
        function defer(method) {
          if (window.jQuery) {
            method();
          } else {
            setTimeout(function() { defer(method) }, 50);
          }
        }
        defer(function(){
          $(document).ready(function(){
            {{ section.settings.custom_js }}
          })
        })
    </script>
  {% endif %}
  <!--FIN INICIO SLIDER-->
  </div>
  </section>
  <section class="videoloop" id="stormtrooper_video">
  <h2 class="title">STORMTROOPER</h2>
  <article>
  <video width="100%" height="100%" data-src-desktop="//ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/starwars/img/videos/desktop/03-STORMTROOPER-UX-DESKTOP.mp4" data-src-mobile="//ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/starwars/img/videos/mobile/03-STORMTROOPER-UX-MOBILE.mp4" playsinline="" muted="" loop="" preload="auto" src="//ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/starwars/img/videos/desktop/03-STORMTROOPER-UX-DESKTOP.mp4" autoplay>
  </video>
  </article>
  </section>
  <section class="products stormtrooper_products" id="stormtrooper_products">
  <div class="desktop" style="--bg-image: url('//ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/starwars/img/products/stormtrooper/PRODUCT-BACKGROUND-BANNER.jpg'); display: block !important;">
  {% capture component_class %}products-carousel-tbx-v2_{{section.id}}{% endcapture %} 
  
  <style>
    .{{ component_class }} {
      font-family: roboto-bold,Arial,sans-serif;
      margin: auto;
    max-width: 100%;
      {% if section.settings.width == blank or section.settings.full_width %}
        width: 100%;
      {% else %}
          width: {{ section.settings.width }};
      {% endif %}
      {% if section.settings.custom_top_spacing_mobile != blank %}
        margin-top: {{ section.settings.custom_top_spacing_mobile }};
      {% endif %}
      {% if section.settings.custom_bottom_spacing != blank %}
        margin-bottom: {{ section.settings.custom_bottom_spacing_mobile }};
      {% endif %}
    }
    .{{ component_class }} .bg-panel {
      padding: 0px;
      background: {{ section.settings.panel_bg_color }};
      margin-bottom: 15px;
      text-align: center;
    }
    .{{ component_class }} .main-title {
      color: #000;
      font-family: roboto-bold,Arial,sans-serif;
      font-size: 28px;
    font-weight: 700;
      line-height: 20px;
      letter-spacing: 0;
      text-align: center;
      margin-bottom: 15px;
    }
    .{{ component_class }} .see-more-button {
      margin: auto;
      text-align: center;
    max-width: 100%;
      width: 280px;
    display: inline-block;
    }
    .{{ component_class }} .carousel-wrapper {
      {% if section.settings.carousel_width == blank %}
        width: 100%;
      {% else %}
          width: {{ section.settings.carousel_width }};
      {% endif %}
    max-width: 87%;
      margin: auto;
    }
    .{{ component_class }} .owl-carousel{
  /*     display: block !important; */
      {% if section.settings.carousel_padding %}
      padding: {{ section.settings.carousel_padding }};
      {% endif %}
      background-color: {{ section.settings.carousel_bg_color }};
    }
    .{{ component_class }} .owl-carousel .owl-prev {
      width: 33px;
      height: 100px;
      position: absolute;
      top: 25%;
      left: -33px;
      margin-left: -20px;
      display: block !important;
      border:0px solid black;
    }
    .{{ component_class }} .owl-carousel .owl-next {
        width: 33px;
        height: 100px;
        position: absolute;
        top: 25%;
        right: -54px;
        display: block !important;
        border:0px solid black;
        transform: scaleX(-1);
    }
    .{{ component_class }} .owl-carousel .owl-prev i,
    .{{ component_class }} .owl-carousel .owl-next i {
      transform : scale(1,6); color: #ccc;
    }
    .{{ component_class }} .single-logo {
    display: inline-block;
      max-width: 100%;
      margin-right: {{ section.settings.block_spacing }}px;
      width: {{ 100 | divided_by: section.settings.blocks_shown_mobile }}%;
    }
    .{{ component_class }} .single-logo img {
      {% if section.settings.block_width == blank %}
        width: 100%;
      {% else %}
          width: {{ section.settings.block_width }};
      {% endif %}
    }
    .{{ component_class }} .owl-item .single-logo {
      width: auto;
      margin-right: initial;
    }
    .{{ component_class }} .product-card {
      margin-bottom: 20px;
      max-width: 100%;
      width: 190px;
    }
  
    @media only screen and (max-width: 767px) {
      {% if section.settings.preview_of_next_item %}
      .{{ component_class }} .owl-stage {
          padding-left: 0px !important;
      }
      {% endif %}
      .{{ component_class }} .owl-carousel .single-logo {
        width: 29%;
        margin-left: 0.5rem;
          margin-right: 0;
        margin-bottom: 0.4rem;
      }
    }
  
    @media screen and (min-width: 768px) {
      .{{ component_class }} {
        {% if section.settings.custom_top_spacing != blank %}
        margin-top: {{ section.settings.custom_top_spacing }};
        {% endif %}
         {% if section.settings.custom_bottom_spacing != blank %}
            margin-bottom: {{ section.settings.custom_bottom_spacing }};
        {% endif %}
      }
      .{{ component_class }} .main-title-wrapper {
        margin-bottom: 40px;
      }
      .{{ component_class }} .owl-carousel {
          white-space: nowrap;
        overflow: hidden;
      }
      .{{ component_class }} .owl-carousel.owl-loaded {
          white-space: initial;
        overflow: initial;
      }
      .{{ component_class }} .single-logo {
         width: {{ 100 | divided_by: section.settings.blocks_shown }}%;
      }
      .{{ component_class }} .owl-carousel .owl-item .single-logo {
        width: auto;
      }
    }
  </style>
  
  {% if section.settings.custom_css != blank %}
  {% assign component_selector = component_class | prepend: '.' %} 
  <style>
    {{ section.settings.custom_css | replace: '$component_class', component_selector }}
  </style>
  {% endif %}
  
  
  {%- assign collection = collections[section.settings.collection] -%}
  
  {%- assign product_limit = section.settings.blocks_shown | times: 2 -%}
  
  <div class="{{ component_class }} {% if section.settings.slider_mode %} slider-enabled{% endif %}" data-blocks-size="{{ section.blocks.size }}">
    {% if section.settings.show_more_button != blank %}
      <div class="bg-panel">
      {% if section.settings.title != blank %}<h2 class="main-title">{{ section.settings.title }}</h2>{% endif %}
      {% if section.settings.show_more_button_image %}
        <{% if section.settings.show_more_button_link != blank %}a{% else %}div{% endif %} class="see-more-button" {% if section.settings.show_more_button_link != blank %} href="{{ section.settings.show_more_button_link  }}"{% endif %}>
          <img class="main-image" src="{{ section.settings.show_more_button_image | img_url: 'master' }}" width="240" height="40">
        </{% if section.settings.show_more_button_link != blank %}a{% else %}div{% endif %}>
      {% endif %}
      </div>
    {% elsif section.settings.title != blank %}
      <div class="main-title-wrapper">
        <h2 class="main-title">{{ section.settings.title }}</h2>
      </div>
    {% endif %}
    
    <div class="carousel-wrapper">
      <div class="section-padding owl-carousel white-nav">
      {% for product in collections[section.settings.STORMTROOPER.handle].products limit: 4 %}
        <div class="grid-view-item product-card">
          <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{% if collections[section.settings.Slider.handle].products == empty %}#{% else %}{{ product.url }}{% endif %}">
            <span class="visually-hidden">{{ product.title }}</span>
          </a>
          <div class="grid-view-item__image-wrapper gviiw-c-thebox">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {%- assign preview_image = product.featured_media.preview_image -%}
            {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img id="{{ img_id }}"
                 class="grid-view-item__image lazyload"
                 alt="{{ preview_image.alt }}"
                 data-src="{{ img_url }}"
                 data-widths="[200]"
                 data-aspectratio="{{ preview_image.aspect_ratio }}"
                 data-sizes="auto"
                 data-image>
          </div>
          {% comment %}
          {% assign colors_size = product.options_by_name['Color'].values | size %}
          <div class="product-attr">{{ colors_size }} Color {%- if colors_size > 1 -%} (es) {%- endif -%}</div>
          {% endcomment %}
          <div class="h4 grid-view-item__title" aria-hidden="true">{{ product.title }}</div>
          {% include 'product-price-listing', product: product, show_vendor: false %}
        </div>
      {% endfor %}
    </div>
    </div>
  </div>
  </div>
  
  </section>
  <section class="videoloop" id="bobafett_video">
  <h2 class="title">BOBA FETT™</h2>
  <article>
  <video width="100%" height="100%" data-src-desktop="//ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/starwars/img/videos/desktop/04-BOBA-FETT-UX-DESKTOP.mp4" data-src-mobile="//ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/starwars/img/videos/mobile/04-BOBA-FETT-UX-MOBILE.mp4" playsinline="" muted="" loop="" preload="auto" src="//ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/starwars/img/videos/desktop/04-BOBA-FETT-UX-DESKTOP.mp4" autoplay>
  </video>
  </article>
  </section>
  
  <section class="products bobafett_products" id="bobafett_products">
  
  <div class="desktop" style="--bg-image: url('//ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/starwars/img/products/bobafett/PRODUCT-BACKGROUND-BANNER.jpg'); display: block !important;">
  <!--INICIO SLIDER-->
  
  {% capture component_class %}products-carousel-tbx-v2_{{section.id}}{% endcapture %} 
  
  <style>
    .{{ component_class }} {
      font-family: roboto-bold,Arial,sans-serif;
      margin: auto;
    max-width: 100%;
      {% if section.settings.width == blank or section.settings.full_width %}
        width: 100%;
      {% else %}
          width: {{ section.settings.width }};
      {% endif %}
      {% if section.settings.custom_top_spacing_mobile != blank %}
        margin-top: {{ section.settings.custom_top_spacing_mobile }};
      {% endif %}
      {% if section.settings.custom_bottom_spacing != blank %}
        margin-bottom: {{ section.settings.custom_bottom_spacing_mobile }};
      {% endif %}
    }
    .{{ component_class }} .bg-panel {
      padding: 0px;
      background: {{ section.settings.panel_bg_color }};
      margin-bottom: 15px;
      text-align: center;
    }
    .{{ component_class }} .main-title {
      color: #000;
      font-family: roboto-bold,Arial,sans-serif;
      font-size: 28px;
    font-weight: 700;
      line-height: 20px;
      letter-spacing: 0;
      text-align: center;
      margin-bottom: 15px;
    }
    .{{ component_class }} .see-more-button {
      margin: auto;
      text-align: center;
    max-width: 100%;
      width: 280px;
    display: inline-block;
    }
    .{{ component_class }} .carousel-wrapper {
      {% if section.settings.carousel_width == blank %}
        width: 100%;
      {% else %}
          width: {{ section.settings.carousel_width }};
      {% endif %}
    max-width: 87%;
      margin: auto;
    }
    .{{ component_class }} .owl-carousel{
  /*     display: block !important; */
      {% if section.settings.carousel_padding %}
      padding: {{ section.settings.carousel_padding }};
      {% endif %}
      background-color: {{ section.settings.carousel_bg_color }};
    }
    .{{ component_class }} .owl-carousel .owl-prev {
      width: 33px;
      height: 100px;
      position: absolute;
      top: 25%;
      left: -33px;
      margin-left: -20px;
      display: block !important;
      border:0px solid black;
    }
    .{{ component_class }} .owl-carousel .owl-next {
        width: 33px;
        height: 100px;
        position: absolute;
        top: 25%;
        right: -54px;
        display: block !important;
        border:0px solid black;
        transform: scaleX(-1);
    }
    .{{ component_class }} .owl-carousel .owl-prev i,
    .{{ component_class }} .owl-carousel .owl-next i {
      transform : scale(1,6); color: #ccc;
    }
    .{{ component_class }} .single-logo {
    display: inline-block;
      max-width: 100%;
      margin-right: {{ section.settings.block_spacing }}px;
      width: {{ 100 | divided_by: section.settings.blocks_shown_mobile }}%;
    }
    .{{ component_class }} .single-logo img {
      {% if section.settings.block_width == blank %}
        width: 100%;
      {% else %}
          width: {{ section.settings.block_width }};
      {% endif %}
    }
    .{{ component_class }} .owl-item .single-logo {
      width: auto;
      margin-right: initial;
    }
    .{{ component_class }} .product-card {
      margin-bottom: 20px;
      max-width: 100%;
      width: 190px;
    }
  
    @media only screen and (max-width: 767px) {
      {% if section.settings.preview_of_next_item %}
      .{{ component_class }} .owl-stage {
          padding-left: 0px !important;
      }
      {% endif %}
      .{{ component_class }} .owl-carousel .single-logo {
        width: 29%;
        margin-left: 0.5rem;
          margin-right: 0;
        margin-bottom: 0.4rem;
      }
    }
  
    @media screen and (min-width: 768px) {
      .{{ component_class }} {
        {% if section.settings.custom_top_spacing != blank %}
        margin-top: {{ section.settings.custom_top_spacing }};
        {% endif %}
         {% if section.settings.custom_bottom_spacing != blank %}
            margin-bottom: {{ section.settings.custom_bottom_spacing }};
        {% endif %}
      }
      .{{ component_class }} .main-title-wrapper {
        margin-bottom: 40px;
      }
      .{{ component_class }} .owl-carousel {
          white-space: nowrap;
        overflow: hidden;
      }
      .{{ component_class }} .owl-carousel.owl-loaded {
          white-space: initial;
        overflow: initial;
      }
      .{{ component_class }} .single-logo {
         width: {{ 100 | divided_by: section.settings.blocks_shown }}%;
      }
      .{{ component_class }} .owl-carousel .owl-item .single-logo {
        width: auto;
      }
    }
  </style>
  
  {% if section.settings.custom_css != blank %}
  {% assign component_selector = component_class | prepend: '.' %} 
  <style>
    {{ section.settings.custom_css | replace: '$component_class', component_selector }}
  </style>
  {% endif %}
  
  
  {%- assign collection = collections[section.settings.collection] -%}
  
  {%- assign product_limit = section.settings.blocks_shown | times: 2 -%}
  
  <div class="{{ component_class }} {% if section.settings.slider_mode %} slider-enabled{% endif %}" data-blocks-size="{{ section.blocks.size }}">
    {% if section.settings.show_more_button != blank %}
      <div class="bg-panel">
      {% if section.settings.title != blank %}<h2 class="main-title">{{ section.settings.title }}</h2>{% endif %}
      {% if section.settings.show_more_button_image %}
        <{% if section.settings.show_more_button_link != blank %}a{% else %}div{% endif %} class="see-more-button" {% if section.settings.show_more_button_link != blank %} href="{{ section.settings.show_more_button_link  }}"{% endif %}>
          <img class="main-image" src="{{ section.settings.show_more_button_image | img_url: 'master' }}" width="240" height="40">
        </{% if section.settings.show_more_button_link != blank %}a{% else %}div{% endif %}>
      {% endif %}
      </div>
    {% elsif section.settings.title != blank %}
      <div class="main-title-wrapper">
        <h2 class="main-title">{{ section.settings.title }}</h2>
      </div>
    {% endif %}
    
    <div class="carousel-wrapper">
      <div class="section-padding owl-carousel">
      {% for product in collections[section.settings.BOBBAFEET.handle].products limit: 4 %}
        <div class="grid-view-item product-card">
          <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{% if collections[section.settings.Slider.handle].products == empty %}#{% else %}{{ product.url }}{% endif %}">
            <span class="visually-hidden">{{ product.title }}</span>
          </a>
          <div class="grid-view-item__image-wrapper gviiw-c-thebox">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {%- assign preview_image = product.featured_media.preview_image -%}
            {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img id="{{ img_id }}"
                 class="grid-view-item__image lazyload"
                 alt="{{ preview_image.alt }}"
                 data-src="{{ img_url }}"
                 data-widths="[200]"
                 data-aspectratio="{{ preview_image.aspect_ratio }}"
                 data-sizes="auto"
                 data-image>
          </div>
          {% comment %}
          {% assign colors_size = product.options_by_name['Color'].values | size %}
          <div class="product-attr">{{ colors_size }} Color {%- if colors_size > 1 -%} (es) {%- endif -%}</div>
          {% endcomment %}
          <div class="h4 grid-view-item__title" aria-hidden="true">{{ product.title }}</div>
          {% include 'product-price-listing', product: product, show_vendor: false %}
        </div>
      {% endfor %}
    </div>
    </div>
  </div>

  </div>
  </section>
  <section class="videoloop" id="luke_video">
  <h2 class="title">LUKE SKYWALKER™</h2>
  <article>
  <video width="100%" height="100%" data-src-desktop="//ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/starwars/img/videos/desktop/05-LUKE-SKYWALKER-UX-DESKTOP.mp4" data-src-mobile="//ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/starwars/img/videos/mobile/05-LUKE-SKYWALKER-MOBILE-UX.mp4" playsinline="" muted="" loop="" preload="auto" src="//ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/starwars/img/videos/desktop/05-LUKE-SKYWALKER-UX-DESKTOP.mp4" autoplay>
  </video>
  </article>
  </section>
  <section class="products luke_products" id="luke_products">
  <div class="desktop" style="--bg-image: url('//ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/starwars/img/products/luke/PRODUCT-BACKGROUND-BANNER.jpg'); display: block !important;">
  <!--INICIO SLIDER-->
  
  {% capture component_class %}products-carousel-tbx-v2_{{section.id}}{% endcapture %} 
  
  <style>
    .{{ component_class }} {
      font-family: roboto-bold,Arial,sans-serif;
      margin: auto;
    max-width: 100%;
      {% if section.settings.width == blank or section.settings.full_width %}
        width: 100%;
      {% else %}
          width: {{ section.settings.width }};
      {% endif %}
      {% if section.settings.custom_top_spacing_mobile != blank %}
        margin-top: {{ section.settings.custom_top_spacing_mobile }};
      {% endif %}
      {% if section.settings.custom_bottom_spacing != blank %}
        margin-bottom: {{ section.settings.custom_bottom_spacing_mobile }};
      {% endif %}
    }
    .{{ component_class }} .bg-panel {
      padding: 0px;
      background: {{ section.settings.panel_bg_color }};
      margin-bottom: 15px;
      text-align: center;
    }
    .{{ component_class }} .main-title {
      color: #000;
      font-family: roboto-bold,Arial,sans-serif;
      font-size: 28px;
    font-weight: 700;
      line-height: 20px;
      letter-spacing: 0;
      text-align: center;
      margin-bottom: 15px;
    }
    .{{ component_class }} .see-more-button {
      margin: auto;
      text-align: center;
    max-width: 100%;
      width: 280px;
    display: inline-block;
    }
    .{{ component_class }} .carousel-wrapper {
      {% if section.settings.carousel_width == blank %}
        width: 100%;
      {% else %}
          width: {{ section.settings.carousel_width }};
      {% endif %}
    max-width: 87%;
      margin: auto;
    }
    .{{ component_class }} .owl-carousel{
  /*     display: block !important; */
      {% if section.settings.carousel_padding %}
      padding: {{ section.settings.carousel_padding }};
      {% endif %}
      background-color: {{ section.settings.carousel_bg_color }};
    }
    .{{ component_class }} .owl-carousel .owl-prev {
      width: 33px;
      height: 100px;
      position: absolute;
      top: 25%;
      left: -33px;
      margin-left: -20px;
      display: block !important;
      border:0px solid black;
    }
    .{{ component_class }} .owl-carousel .owl-next {
        width: 33px;
        height: 100px;
        position: absolute;
        top: 25%;
        right: -54px;
        display: block !important;
        border:0px solid black;
        transform: scaleX(-1);
    }
    .{{ component_class }} .owl-carousel .owl-prev i,
    .{{ component_class }} .owl-carousel .owl-next i {
      transform : scale(1,6); color: #ccc;
    }
    .{{ component_class }} .single-logo {
    display: inline-block;
      max-width: 100%;
      margin-right: {{ section.settings.block_spacing }}px;
      width: {{ 100 | divided_by: section.settings.blocks_shown_mobile }}%;
    }
    .{{ component_class }} .single-logo img {
      {% if section.settings.block_width == blank %}
        width: 100%;
      {% else %}
          width: {{ section.settings.block_width }};
      {% endif %}
    }
    .{{ component_class }} .owl-item .single-logo {
      width: auto;
      margin-right: initial;
    }
    .{{ component_class }} .product-card {
      margin-bottom: 20px;
      max-width: 100%;
      width: 190px;
    }
  
    @media only screen and (max-width: 767px) {
      {% if section.settings.preview_of_next_item %}
      .{{ component_class }} .owl-stage {
          padding-left: 0px !important;
      }
      {% endif %}
      .{{ component_class }} .owl-carousel .single-logo {
        width: 29%;
        margin-left: 0.5rem;
          margin-right: 0;
        margin-bottom: 0.4rem;
      }
    }
  
    @media screen and (min-width: 768px) {
      .{{ component_class }} {
        {% if section.settings.custom_top_spacing != blank %}
        margin-top: {{ section.settings.custom_top_spacing }};
        {% endif %}
         {% if section.settings.custom_bottom_spacing != blank %}
            margin-bottom: {{ section.settings.custom_bottom_spacing }};
        {% endif %}
      }
      .{{ component_class }} .main-title-wrapper {
        margin-bottom: 40px;
      }
      .{{ component_class }} .owl-carousel {
          white-space: nowrap;
        overflow: hidden;
      }
      .{{ component_class }} .owl-carousel.owl-loaded {
          white-space: initial;
        overflow: initial;
      }
      .{{ component_class }} .single-logo {
         width: {{ 100 | divided_by: section.settings.blocks_shown }}%;
      }
      .{{ component_class }} .owl-carousel .owl-item .single-logo {
        width: auto;
      }
    }
  </style>
  
  {% if section.settings.custom_css != blank %}
  {% assign component_selector = component_class | prepend: '.' %} 
  <style>
    {{ section.settings.custom_css | replace: '$component_class', component_selector }}
  </style>
  {% endif %}
  
  
  {%- assign collection = collections[section.settings.collection] -%}
  
  {%- assign product_limit = section.settings.blocks_shown | times: 2 -%}
  
  <div class="{{ component_class }} {% if section.settings.slider_mode %} slider-enabled{% endif %}" data-blocks-size="{{ section.blocks.size }}">
    {% if section.settings.show_more_button != blank %}
      <div class="bg-panel">
      {% if section.settings.title != blank %}<h2 class="main-title">{{ section.settings.title }}</h2>{% endif %}
      {% if section.settings.show_more_button_image %}
        <{% if section.settings.show_more_button_link != blank %}a{% else %}div{% endif %} class="see-more-button" {% if section.settings.show_more_button_link != blank %} href="{{ section.settings.show_more_button_link  }}"{% endif %}>
          <img class="main-image" src="{{ section.settings.show_more_button_image | img_url: 'master' }}" width="240" height="40">
        </{% if section.settings.show_more_button_link != blank %}a{% else %}div{% endif %}>
      {% endif %}
      </div>
    {% elsif section.settings.title != blank %}
      <div class="main-title-wrapper">
        <h2 class="main-title">{{ section.settings.title }}</h2>
      </div>
    {% endif %}
    
    <div class="carousel-wrapper">
      <div class="section-padding owl-carousel">
      {% for product in collections[section.settings.LUKE.handle].products limit: 4 %}
        <div class="grid-view-item product-card">
          <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{% if collections[section.settings.Slider.handle].products == empty %}#{% else %}{{ product.url }}{% endif %}">
            <span class="visually-hidden">{{ product.title }}</span>
          </a>
          <div class="grid-view-item__image-wrapper gviiw-c-thebox">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {%- assign preview_image = product.featured_media.preview_image -%}
            {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img id="{{ img_id }}"
                 class="grid-view-item__image lazyload"
                 alt="{{ preview_image.alt }}"
                 data-src="{{ img_url }}"
                 data-widths="[200]"
                 data-aspectratio="{{ preview_image.aspect_ratio }}"
                 data-sizes="auto"
                 data-image>
          </div>
          {% comment %}
          {% assign colors_size = product.options_by_name['Color'].values | size %}
          <div class="product-attr">{{ colors_size }} Color {%- if colors_size > 1 -%} (es) {%- endif -%}</div>
          {% endcomment %}
          <div class="h4 grid-view-item__title" aria-hidden="true">{{ product.title }}</div>
          {% include 'product-price-listing', product: product, show_vendor: false %}
        </div>
      {% endfor %}
    </div>
    </div>
  </div>

  </div>  
  </section>
  <section class="videoloop" id="xwing_video">
  <h2 class="title">X-WING</h2>
  <article>
  <video width="100%" height="100%" data-src-desktop="//ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/starwars/img/videos/desktop/06-X-WING-DESKTOP-UX.mp4" data-src-mobile="//ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/starwars/img/videos/mobile/06-X-WING-MOBILE-UX.mp4" playsinline="" muted="" loop="" preload="auto" src="//ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/starwars/img/videos/desktop/06-X-WING-DESKTOP-UX.mp4" autoplay>
  </video>
  </article>
  </section>
  <section class="products xwing_products" id="xwing_products">
  <div class="desktop" style="--bg-image: url('//ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/starwars/img/products/xwing/PRODUCT-BACKGROUND-BANNER.jpg'); display: block !important;">
  <!--INICIO SLIDER-->
  
  {% capture component_class %}products-carousel-tbx-v2_{{section.id}}{% endcapture %} 
  
  <style>
    .{{ component_class }} {
      font-family: roboto-bold,Arial,sans-serif;
      margin: auto;
    max-width: 100%;
      {% if section.settings.width == blank or section.settings.full_width %}
        width: 100%;
      {% else %}
          width: {{ section.settings.width }};
      {% endif %}
      {% if section.settings.custom_top_spacing_mobile != blank %}
        margin-top: {{ section.settings.custom_top_spacing_mobile }};
      {% endif %}
      {% if section.settings.custom_bottom_spacing != blank %}
        margin-bottom: {{ section.settings.custom_bottom_spacing_mobile }};
      {% endif %}
    }
    .{{ component_class }} .bg-panel {
      padding: 0px;
      background: {{ section.settings.panel_bg_color }};
      margin-bottom: 15px;
      text-align: center;
    }
    .{{ component_class }} .main-title {
      color: #000;
      font-family: roboto-bold,Arial,sans-serif;
      font-size: 28px;
    font-weight: 700;
      line-height: 20px;
      letter-spacing: 0;
      text-align: center;
      margin-bottom: 15px;
    }
    .{{ component_class }} .see-more-button {
      margin: auto;
      text-align: center;
    max-width: 100%;
      width: 280px;
    display: inline-block;
    }
    .{{ component_class }} .carousel-wrapper {
      {% if section.settings.carousel_width == blank %}
        width: 100%;
      {% else %}
          width: {{ section.settings.carousel_width }};
      {% endif %}
    max-width: 87%;
      margin: auto;
    }
    .{{ component_class }} .owl-carousel{
  /*     display: block !important; */
      {% if section.settings.carousel_padding %}
      padding: {{ section.settings.carousel_padding }};
      {% endif %}
      background-color: {{ section.settings.carousel_bg_color }};
    }
    .{{ component_class }} .owl-carousel .owl-prev {
      width: 33px;
      height: 100px;
      position: absolute;
      top: 25%;
      left: -33px;
      margin-left: -20px;
      display: block !important;
      border:0px solid black;
    }
    .{{ component_class }} .owl-carousel .owl-next {
        width: 33px;
        height: 100px;
        position: absolute;
        top: 25%;
        right: -54px;
        display: block !important;
        border:0px solid black;
        transform: scaleX(-1);
    }
    .{{ component_class }} .owl-carousel .owl-prev i,
    .{{ component_class }} .owl-carousel .owl-next i {
      transform : scale(1,6); color: #ccc;
    }
    .{{ component_class }} .single-logo {
    display: inline-block;
      max-width: 100%;
      margin-right: {{ section.settings.block_spacing }}px;
      width: {{ 100 | divided_by: section.settings.blocks_shown_mobile }}%;
    }
    .{{ component_class }} .single-logo img {
      {% if section.settings.block_width == blank %}
        width: 100%;
      {% else %}
          width: {{ section.settings.block_width }};
      {% endif %}
    }
    .{{ component_class }} .owl-item .single-logo {
      width: auto;
      margin-right: initial;
    }
    .{{ component_class }} .product-card {
      margin-bottom: 20px;
      max-width: 100%;
      width: 190px;
    }
  
    @media only screen and (max-width: 767px) {
      {% if section.settings.preview_of_next_item %}
      .{{ component_class }} .owl-stage {
          padding-left: 0px !important;
      }
      {% endif %}
      .{{ component_class }} .owl-carousel .single-logo {
        width: 29%;
        margin-left: 0.5rem;
          margin-right: 0;
        margin-bottom: 0.4rem;
      }
    }
  
    @media screen and (min-width: 768px) {
      .{{ component_class }} {
        {% if section.settings.custom_top_spacing != blank %}
        margin-top: {{ section.settings.custom_top_spacing }};
        {% endif %}
         {% if section.settings.custom_bottom_spacing != blank %}
            margin-bottom: {{ section.settings.custom_bottom_spacing }};
        {% endif %}
      }
      .{{ component_class }} .main-title-wrapper {
        margin-bottom: 40px;
      }
      .{{ component_class }} .owl-carousel {
          white-space: nowrap;
        overflow: hidden;
      }
      .{{ component_class }} .owl-carousel.owl-loaded {
          white-space: initial;
        overflow: initial;
      }
      .{{ component_class }} .single-logo {
         width: {{ 100 | divided_by: section.settings.blocks_shown }}%;
      }
      .{{ component_class }} .owl-carousel .owl-item .single-logo {
        width: auto;
      }
    }
  </style>
  
  {% if section.settings.custom_css != blank %}
  {% assign component_selector = component_class | prepend: '.' %} 
  <style>
    {{ section.settings.custom_css | replace: '$component_class', component_selector }}
  </style>
  {% endif %}
  
  
  {%- assign collection = collections[section.settings.collection] -%}
  
  {%- assign product_limit = section.settings.blocks_shown | times: 2 -%}
  
  <div class="{{ component_class }} {% if section.settings.slider_mode %} slider-enabled{% endif %}" data-blocks-size="{{ section.blocks.size }}">
    {% if section.settings.show_more_button != blank %}
      <div class="bg-panel">
      {% if section.settings.title != blank %}<h2 class="main-title">{{ section.settings.title }}</h2>{% endif %}
      {% if section.settings.show_more_button_image %}
        <{% if section.settings.show_more_button_link != blank %}a{% else %}div{% endif %} class="see-more-button" {% if section.settings.show_more_button_link != blank %} href="{{ section.settings.show_more_button_link  }}"{% endif %}>
          <img class="main-image" src="{{ section.settings.show_more_button_image | img_url: 'master' }}" width="240" height="40">
        </{% if section.settings.show_more_button_link != blank %}a{% else %}div{% endif %}>
      {% endif %}
      </div>
    {% elsif section.settings.title != blank %}
      <div class="main-title-wrapper">
        <h2 class="main-title">{{ section.settings.title }}</h2>
      </div>
    {% endif %}
    
    <div class="carousel-wrapper">
      <div class="section-padding owl-carousel">
      {% for product in collections[section.settings.XWING.handle].products limit: 4 %}
        <div class="grid-view-item product-card">
          <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{% if collections[section.settings.Slider.handle].products == empty %}#{% else %}{{ product.url }}{% endif %}">
            <span class="visually-hidden">{{ product.title }}</span>
          </a>
          <div class="grid-view-item__image-wrapper gviiw-c-thebox">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {%- assign preview_image = product.featured_media.preview_image -%}
            {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img id="{{ img_id }}"
                 class="grid-view-item__image lazyload"
                 alt="{{ preview_image.alt }}"
                 data-src="{{ img_url }}"
                 data-widths="[200]"
                 data-aspectratio="{{ preview_image.aspect_ratio }}"
                 data-sizes="auto"
                 data-image>
          </div>
          {% comment %}
          {% assign colors_size = product.options_by_name['Color'].values | size %}
          <div class="product-attr">{{ colors_size }} Color {%- if colors_size > 1 -%} (es) {%- endif -%}</div>
          {% endcomment %}
          <div class="h4 grid-view-item__title" aria-hidden="true">{{ product.title }}</div>
          {% include 'product-price-listing', product: product, show_vendor: false %}
        </div>
      {% endfor %}
    </div>
    </div>
  </div>

  </div>    
  </section>
  <section class="gallery swiper-container swiper-container-initialized swiper-container-horizontal" id="force_gallery">
  <h2 class="title">THE FORCE ESSENTIALS</h2>
  <article class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
  <div class="swiper-slide swiper-slide-active" style="width: 2031px;">
  <picture>
  <source media="(max-width: 768px)" srcset="//ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/starwars/img/force/mobile/MOBILE-1.jpg">
  <img class="photo" src="//ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/starwars/img/force/desktop/PRODUCT-BANNER-1.jpg" alt="star-wars-ux">
  </picture>
  </div>
  </article>
  <section class="products force_products" id="force_products">
  <div class="desktop" style="--bg-image: url('//ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/starwars/img/products/bobafett/PRODUCT-BACKGROUND-BANNER.jpg'); display: block !important;">
  <!--INICIO SLIDER-->
  
  {% capture component_class %}products-carousel-tbx-v2_{{section.id}}{% endcapture %} 
  
  <style>
    .{{ component_class }} {
      font-family: roboto-bold,Arial,sans-serif;
      margin: auto;
    max-width: 100%;
      {% if section.settings.width == blank or section.settings.full_width %}
        width: 100%;
      {% else %}
          width: {{ section.settings.width }};
      {% endif %}
      {% if section.settings.custom_top_spacing_mobile != blank %}
        margin-top: {{ section.settings.custom_top_spacing_mobile }};
      {% endif %}
      {% if section.settings.custom_bottom_spacing != blank %}
        margin-bottom: {{ section.settings.custom_bottom_spacing_mobile }};
      {% endif %}
    }
    .{{ component_class }} .bg-panel {
      padding: 0px;
      background: {{ section.settings.panel_bg_color }};
      margin-bottom: 15px;
      text-align: center;
    }
    .{{ component_class }} .main-title {
      color: #000;
      font-family: roboto-bold,Arial,sans-serif;
      font-size: 28px;
    font-weight: 700;
      line-height: 20px;
      letter-spacing: 0;
      text-align: center;
      margin-bottom: 15px;
    }
    .{{ component_class }} .see-more-button {
      margin: auto;
      text-align: center;
    max-width: 100%;
      width: 280px;
    display: inline-block;
    }
    .{{ component_class }} .carousel-wrapper {
      {% if section.settings.carousel_width == blank %}
        width: 100%;
      {% else %}
          width: {{ section.settings.carousel_width }};
      {% endif %}
    max-width: 87%;
      margin: auto;
    }
    .{{ component_class }} .owl-carousel{
  /*     display: block !important; */
      {% if section.settings.carousel_padding %}
      padding: {{ section.settings.carousel_padding }};
      {% endif %}
      background-color: {{ section.settings.carousel_bg_color }};
    }
    .{{ component_class }} .owl-carousel .owl-prev {
      width: 33px;
      height: 100px;
      position: absolute;
      top: 25%;
      left: -33px;
      margin-left: -20px;
      display: block !important;
      border:0px solid black;
    }
    .{{ component_class }} .owl-carousel .owl-next {
        width: 33px;
        height: 100px;
        position: absolute;
        top: 25%;
        right: -54px;
        display: block !important;
        border:0px solid black;
        transform: scaleX(-1);
    }
    .{{ component_class }} .owl-carousel .owl-prev i,
    .{{ component_class }} .owl-carousel .owl-next i {
      transform : scale(1,6); color: #ccc;
    }
    .{{ component_class }} .single-logo {
    display: inline-block;
      max-width: 100%;
      margin-right: {{ section.settings.block_spacing }}px;
      width: {{ 100 | divided_by: section.settings.blocks_shown_mobile }}%;
    }
    .{{ component_class }} .single-logo img {
      {% if section.settings.block_width == blank %}
        width: 100%;
      {% else %}
          width: {{ section.settings.block_width }};
      {% endif %}
    }
    .{{ component_class }} .owl-item .single-logo {
      width: auto;
      margin-right: initial;
    }
    .{{ component_class }} .product-card {
      margin-bottom: 20px;
      max-width: 100%;
      width: 190px;
    }
  
    @media only screen and (max-width: 767px) {
      {% if section.settings.preview_of_next_item %}
      .{{ component_class }} .owl-stage {
          padding-left: 0px !important;
      }
      {% endif %}
      .{{ component_class }} .owl-carousel .single-logo {
        width: 29%;
        margin-left: 0.5rem;
          margin-right: 0;
        margin-bottom: 0.4rem;
      }
    }
  
    @media screen and (min-width: 768px) {
      .{{ component_class }} {
        {% if section.settings.custom_top_spacing != blank %}
        margin-top: {{ section.settings.custom_top_spacing }};
        {% endif %}
         {% if section.settings.custom_bottom_spacing != blank %}
            margin-bottom: {{ section.settings.custom_bottom_spacing }};
        {% endif %}
      }
      .{{ component_class }} .main-title-wrapper {
        margin-bottom: 40px;
      }
      .{{ component_class }} .owl-carousel {
          white-space: nowrap;
        overflow: hidden;
      }
      .{{ component_class }} .owl-carousel.owl-loaded {
          white-space: initial;
        overflow: initial;
      }
      .{{ component_class }} .single-logo {
         width: {{ 100 | divided_by: section.settings.blocks_shown }}%;
      }
      .{{ component_class }} .owl-carousel .owl-item .single-logo {
        width: auto;
      }
    }
  </style>
  
  {% if section.settings.custom_css != blank %}
  {% assign component_selector = component_class | prepend: '.' %} 
  <style>
    {{ section.settings.custom_css | replace: '$component_class', component_selector }}
  </style>
  {% endif %}
  
  
  {%- assign collection = collections[section.settings.collection] -%}
  
  {%- assign product_limit = section.settings.blocks_shown | times: 2 -%}
  
  <div class="{{ component_class }} {% if section.settings.slider_mode %} slider-enabled{% endif %}" data-blocks-size="{{ section.blocks.size }}">
    {% if section.settings.show_more_button != blank %}
      <div class="bg-panel">
      {% if section.settings.title != blank %}<h2 class="main-title">{{ section.settings.title }}</h2>{% endif %}
      {% if section.settings.show_more_button_image %}
        <{% if section.settings.show_more_button_link != blank %}a{% else %}div{% endif %} class="see-more-button" {% if section.settings.show_more_button_link != blank %} href="{{ section.settings.show_more_button_link  }}"{% endif %}>
          <img class="main-image" src="{{ section.settings.show_more_button_image | img_url: 'master' }}" width="240" height="40">
        </{% if section.settings.show_more_button_link != blank %}a{% else %}div{% endif %}>
      {% endif %}
      </div>
    {% elsif section.settings.title != blank %}
      <div class="main-title-wrapper">
        <h2 class="main-title">{{ section.settings.title }}</h2>
      </div>
    {% endif %}
    
    <div class="carousel-wrapper">
      <div class="section-padding owl-carousel">
      {% for product in collections[section.settings.ESSENTIALS.handle].products limit: 4 %}
        <div class="grid-view-item product-card">
          <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{% if collections[section.settings.Slider.handle].products == empty %}#{% else %}{{ product.url }}{% endif %}">
            <span class="visually-hidden">{{ product.title }}</span>
          </a>
          <div class="grid-view-item__image-wrapper gviiw-c-thebox">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {%- assign preview_image = product.featured_media.preview_image -%}
            {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img id="{{ img_id }}"
                 class="grid-view-item__image lazyload"
                 alt="{{ preview_image.alt }}"
                 data-src="{{ img_url }}"
                 data-widths="[200]"
                 data-aspectratio="{{ preview_image.aspect_ratio }}"
                 data-sizes="auto"
                 data-image>
          </div>
          {% comment %}
          {% assign colors_size = product.options_by_name['Color'].values | size %}
          <div class="product-attr">{{ colors_size }} Color {%- if colors_size > 1 -%} (es) {%- endif -%}</div>
          {% endcomment %}
          <div class="h4 grid-view-item__title" aria-hidden="true">{{ product.title }}</div>
          {% include 'product-price-listing', product: product, show_vendor: false %}
        </div>
      {% endfor %}
    </div>
    </div>
  </div>

  </div> 
  </section>
  <section class="products shopall" id="shopall">
  
  <div class="mobile">
  <h2 class="title">DESCUBRE TODA LA COLECCIÓN</h2>
  <div class="content-wrapper">
  {% for product in collections[section.settings.DESCUBRE.handle].products limit: 32 %}
  {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}
  {% capture product_class %}product {% if product.compare_at_price_max > product.price %}discounted{% endif %}{% endcapture %}
  <a href="{{ product.url }}" class="{{ product_class }}">
      <img class="product-img" src="{{ featured_media | img_url: '165x165' }}" height="165" width="165" alt="product-img" loading="lazy">
      <p class="product-name">{{ product.title }}</p>
      <p class="product-price discount">{{ product.compare_at_price | money }}</p>
      <p class="product-price">{{ product.price | money }}</p>
  </a>
  {% endfor %}
  </div>
  </div>
  <div class="desktop" >
  <h2 class="title">DESCUBRE TODA LA COLECCIÓN</h2>
  <div class="content-wrapper">
  {% for product in collections[section.settings.DESCUBRE.handle].products limit: 32 %}
  {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}
  {% capture product_class %}product {% if product.compare_at_price_max > product.price %}discounted{% endif %}{% endcapture %}
  <a href="{{ product.url }}" class="{{ product_class }}" data-product-id="ADYS100726">
      <div class="product-img-wrapper">
      <img class="product-img" src="{{ featured_media | img_url: 'master' }}"  alt="product-img" loading="lazy">
      </div>
      <p class="product-name">{{ product.title }}</p>
      <p class="product-price discount">{{ product.compare_at_price | money }}</p>
      <p class="product-price">{{ product.price | money }}</p>
  </a>
  {% endfor %}
  </div>
  </div>   
  </section>
  <!--<div class="banner">
  <div class="content-wrapper ">
  <picture>
  <source media="(min-width: 769px)" srcset="//ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/starwars/img/footer/Footer-desk-es.jpg">
  <img class="banner-img" src="//ssl.quiksilver.com/static/DC/default/category-assets/experiences/2022/starwars/img/footer/Footer-Mob-es.jpg" alt="banner" loading="lazy">
  </picture>
  </div>
  </div>-->
  <section class="legal">
  <article class="content-wrapper">
  <p>©/®/™ Lucasfilm Ltd.</p>
  </article>
  </section>
  </div>
  
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="menumobile-container"></div>
  <div class="r-overlay"></div></div>
  
  {% schema %}
  {
      "name": "Landing Starwars",
      "settings": [
        {
          "type": "collection",
          "id": "VADER",
          "label": "COLECCIÓN VADER"
        },
        {
          "type": "collection",
          "id": "STORMTROOPER",
          "label": "COLECCIÓN STORMTROOPER"
        },
        {
          "type": "collection",
          "id": "BOBBAFEET",
          "label": "COLECCIÓN BOBBAFEET"
        },
        {
          "type": "collection",
          "id": "LUKE",
          "label": "COLECCIÓN LUKE"
        },
        {
          "type": "collection",
          "id": "XWING",
          "label": "COLECCIÓN XWING"
        },
        {
          "type": "collection",
          "id": "ESSENTIALS",
          "label": "COLECCIÓN ESSENTIALS"
        },
        {
          "type": "collection",
          "id": "DESCUBRE",
          "label": "COLECCIÓN DESCUBRE"
        },
        {
          "type": "collection",
          "id": "Slider",
          "label": "Collection Slider"
        },
     
        {
        "type": "text",
        "id": "title",
        "label": {
          "en": "Title",
          "es": "Título"
       }
      },
      {
        "type": "checkbox",
        "id": "show_more_button",
      "label": "Botón Mostrar más",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "show_more_button_image",
        "label": "Imagen Botón Mostrar más"
      },
      {
        "type": "url",
        "id": "show_more_button_link",
        "label": "Link Botón Mostrar más"
      },
      {
        "type": "color",
        "id": "panel_bg_color",
        "label": "Color de Fondo de panel",
        "default": "#ffffff"
      },
      {
        "type": "header",
          "content": "Carrusel"
      },
      {
        "type": "checkbox",
        "id": "preview_of_next_item",
        "label": {
          "en": "Show preview of next item",
          "es": "Mostrar parte de siguiente bloque"
        },
        "default": true
      },
      {
      "id":"collection",
      "type":"collection",
      "label":{
          "en":"Collection",
          "es":"Colección"
        }
      },
      {
        "type": "checkbox",
        "id": "mobile_carousel",
        "label": {
          "en": "Mobile Carousel",
          "es": "Carrusel en Mobile"
        },
        "default": false
      },
      {
        "type": "range",
        "id": "blocks_shown",
        "min": 3,
        "max": 10,
        "step": 1,
        "label": "Bloques Mostrados Desktop",
        "default": 8
      },
      {
        "type": "range",
        "id": "blocks_shown_mobile",
        "min": 1,
        "max": 10,
        "step": 1,
        "label": "Bloques Mostrados Mobile",
        "default": 1
      },
      {
        "type": "text",
        "id": "block_width",
        "label": {
          "en": "Block Width",
          "es": "Ancho del Bloque"
       }
      },
      {
        "type": "number",
        "id": "block_spacing",
        "label": {
          "en": "Block Spacing",
          "es": "Espaciado del Bloque"
       },
       "default": 18
      },
      {
        "type": "text",
        "id": "carousel_padding",
        "label": {
          "en": "Carousel Spacing",
          "es": "Espaciado de Carrusel"
       },
       "default": "25px"
      },
      {
        "type": "color",
        "id": "carousel_bg_color",
        "label": "Color de Fondo de panel",
        "default": "#f7f7f7"
      },
      {
        "type": "text",
        "id": "carousel_width",
        "label": {
          "en": "Carousel Width",
          "es": "Ancho del Carrusel"
       }
      },
      {
        "type": "checkbox",
        "id": "show_arrows",
        "label": {
          "en": "Show Arrows",
          "es": "Mostrar flechas"
        },
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_dots",
        "label": {
          "en": "Show Dots",
          "es": "Mostrar Puntos"
        },
        "default": false
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": {
          "en": "Autoplay",
          "es": "Autoplay"
        },
        "default": true
      },
      {
        "type": "range",
        "id": "autoplay_timeout",
        "min": 1,
        "max": 10,
        "step": 1,
        "label": "Segundos para autoplay",
        "default": 5
      },
      {
        "type": "header",
          "content": "Dimensiones"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": {
          "en": "Full width",
          "es": "Ancho completo"
        },
        "default": false
      },
      {
        "type": "text",
        "id": "width",
        "label": {
          "en": "Custom width",
          "es": "Ancho personalizado"
       }
      },
      {
        "type": "text",
        "id": "custom_height",
        "label": {
          "en": "Custom height",
          "es": "Altura personalizada"
       }
      },
      {
        "type": "header",
        "content": "Espaciado Desktop"
      },
      {
        "type": "text",
        "id": "custom_top_spacing",
        "label": {
          "en": "Custom top spacing",
          "es": "Espaciado superior"
       }
      },
      {
        "type": "text",
        "id": "custom_bottom_spacing",
        "label": {
          "en": "Custom bottom spacing",
          "es": "Espaciado inferior"
       }
      },
      {
        "type": "header",
        "content": "Espaciado Mobile"
      },
      {
        "type": "text",
        "id": "custom_top_spacing_mobile",
        "label": {
          "en": "Custom top spacing mobile",
          "es": "Espaciado superior mobile"
       }
      },
      {
        "type": "text",
        "id": "custom_bottom_spacing_mobile",
        "label": {
          "en": "Custom bottom spacing mobile",
          "es": "Espaciado inferior mobile"
       }
      },
      {
        "type": "html",
        "id": "custom_js",
        "label": "Código JS personalizado"
      },
      {
        "type": "html",
        "id": "custom_css",
        "label": "Código CSS personalizado"
      }
      ]
    }
  {% endschema %}

    
  
  {% stylesheet %}
  {% endstylesheet %}
  
  {% javascript %}
  {% endjavascript %}