{% capture component_class %}main-title-cyber_{{section.id}}{% endcapture %} 

<style>
  .{{ component_class }} {
    padding: 20px;
    background: #f6f6f6;
    margin-bottom: 13px;
    text-align: center; 
  }
  .{{ component_class }} .main-title {
    color: #000;
    font-family: roboto-bold,Arial,sans-serif;
    font-size: 28px;
	font-weight: 700;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 16px;
  }
</style>

{% if section.settings.custom_css != blank %}
{% assign component_selector = component_class | prepend: '.' %} 
<style>
	{{ section.settings.custom_css | replace: '$component_class', component_selector }}
</style>
{% endif %}

<div class="{{ component_class }}">
    <h1 class="main-title">{{ section.settings.title }}</h1>
</div>

{% schema %}
  {
    "name": "Main title Cyber",
    "settings": [
        {
          "type": "text",
          "id": "title",
            "label": {
              "en": "Title",
              "es": "Título"
           }
        },
        {
          "type": "url",
          "id": "link",
          "label": {
            "en": "Link",
            "es": "Enlace"
          },
          "info": {
            "en": "Optional",
            "es": "Opcional"
          }
        },
        {
          "type": "html",
          "id": "custom_css",
          "label": "Código CSS personalizado"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}